<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Vientos</title>

  <link rel="stylesheet" href="/css/vientos-frontend.min">
  <link rel="stylesheet" href="/css/login">  
</head>
<body>
<body>

<!--     MENU       -->
<header id="cabecera" class="container-fluid w-100-v h-10-v fixed z1k1 text-center p-0 color-neutral_claro-bg bxsh">

   <div id="logo" class="col-xs-4 col-sm-3 col-md-2 col-lg-1 m-0 p-0-2 text-left">
      <a class="h-50-sm m-t-xs-0-2 m-t-0-1 m-l-0" href="#">
         <div class="logotipo h-100 p-0">
            <img
            data-src="/img/logotipo-75w.png" alt=""
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            class="b-lazy h-100"
            />
         </div>
      </a>
   </div>

   <nav id="menu" class="col-md-10 col-lg-11 hidden-sm hidden-xs">

      <ul class="col-md-4 col-lg-3">

         <li class="col-md-6 h-10-v v-center p-l-1 text-right">
            <a href="/collaborate" class="btn p-0 color-primario-bg color-white p-0-2">Cerca de mí <i class="fa fa-crosshairs p-l-1 font-l"></i></a>
         </li>
         <li class="col-md-6 h-10-v v-center p-l-1 text-left">
            <a href="/collaborate" class="btn p-0 color-secundario-bg color-white p-0-2">Colabora <i class="fa fa-map-marker p-l-1 font-l"></i></a>
         </li>

      </ul>

      <ul class="col-md-6 col-lg-5 col-md-offset-2 col-lg-offset-4">
         <li class="col-md-4 h-10-v v-center p-l-1 text-right">
            <a href="/login" class="btn p-0 color-primario-bg color-white p-0-2">Regístrate <i class="fa fa-pencil p-l-1 font-l"></i></a>
         </li>
         <li class="col-md-4 h-10-v v-center p-l-1 text-left">
            <a href="/login" class="btn p-0 color-secundario-bg color-white p-0-2">Ingresa <i class="fa fa-user p-l-1 font-l"></i></a>
         </li>
         <li class="col-md-4 h-10-v v-center p-l-1 text-right">
            <div class="col-xs-12 h-a">
               <span class="p-0-2">
                  ES
               </span>
               <span class="p-0-2">|</span>
               <a href="/en" class="btn p-0 color-neutral_obscuro p-0-2">
                  EN
               </a>
            </div>
         </li>
      </ul>

   </nav>

   <div class="col-xs-4 col-sm-3 col-xs-offset-4 col-sm-offset-6 hidden-md hidden-lg hidden-xl h-100 p-0-2 color-black text-right">
      <a href="#" id="menu-movil-boton" type="button" class="p-r-0-2">
         <div class="i fa fa-bars font-xxl color-secundario"></div>

      </a>
   </div>

   <!-- /.navbar-collapse -->



   <nav id="menu-movil" class="w-100-v h-100-v hidden-md-up abs z1k1 p-0 m-0 hidden">

      <div class="col-xs-4 absUpR p-0-2 p-r-1 text-right"><a href="" id="menu-movil-boton-cerrar" class="color-white"><i class="fa fa-close font-xxl"></i></a></div>

      <ul class="wh-100 p-0 m-0">
         <li class="h-20 v-center m-0 color-primario-bg color-white">
            <div class="col-xs-12 h-a">
               <span class="p-0-2">
                  ES
               </span>
               <span class="p-0-2">|</span>
               <a href="/en" class="btn p-0 color-neutral_obscuro p-0-2">
                  EN
               </a>
            </div>
         </li>
         <li class="h-20-v v-center m-0 color-secundario-bg color-white">
            <a href="/collaborate" class="color-white">
               Colabora <i class="fa fa-map-marker p-l-1 font-l"></i>
            </a>
         </li>
         <li class="h-20-v v-center m-0 color-primario-bg color-white">
            <a href="/login" class="color-white">
               Regístrate <i class="fa fa-pencil p-l-1 font-l"></i>
            </a>
         </li>
         <li class="h-20-v v-center m-0 color-secundario-bg color-white">
            <a href="/login" class="color-white">
               Ingresa <i class="fa fa-user p-l-1 font-l"></i>
            </a>
         </li>
         <li class="h-20-v v-center m-0 color-primario-bg color-white">
            <a href="/collaborate" class="color-white">
               Cerca de mí <i class="fa fa-crosshairs p-l-1 font-l"></i>
            </a>
         </li>
      </ul>
   </nav>
</header>
<div>
    {{{content}}}
</div>
{{#if withFooter}}
<footer id="pie" class="container-fluid h-10-v h-40-sm-v text-center color-neutral_oscuro-bg color-white font-s">
   <nav id="pie-menu" class="col-md-6 h-100 h-50-sm v-center">
      <ul>
         <li class="col-xs-6 h-100 v-center">
            <div class="h-a">
               <a href="#" class="color-white">
                  Preguntas Frecuentes
               </a>
            </div>
         </li>
         <li class="col-xs-6 h-100 v-center">
            <div class="h-a">
               <a href="#" class="color-white">
                  Términos Legales
               </a>
            </div>
         </li>
      </ul>
   </nav>
   <nav id="pie-redes" class="col-md-4 col-md-offset-2 col-lg-3 col-lg-offset-3 col-xl-2 col-xl-offset-4 h-100 h-50-sm font-l color-neutral_oscuro">
      <ul class="h-100">
         <li class="col-xs-3 h-100 v-center">
            <a href="https://www.facebook.com/comunidadvientos" class="h-a color-secundario">
               <i class="fa fa-facebook"></i>
            </a>
         </li>
         <li class="col-xs-3 h-100 v-center">
            <a href="https://twitter.com/Vientos_red" class="h-a color-primario" target="_blank">
               <i class="fa fa-twitter"></i>
            </a>
         </li>
         <li class="col-xs-3 h-100 v-center">
            <a href="https://github.com/ralexrdz/vientos" class="h-a color-terciario" target="_blank">
               <i class="fa fa-github"></i>
            </a>
         </li>
         <li class="col-xs-3 h-100 v-center">
            <a href="mailto:hola@vientos.org.mx" class="h-a naranja" target="_blank">
               <i class="fa fa-envelope"></i>
            </a>
         </li>
      </ul>
   </nav>
</footer>
{{/if}}
<div>
    <input type="hidden" id="redirect" value="/myprofile"/>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/lodash/4.15.0/lodash.min.js"></script>
<script src="/js/vientos-frontend.min" type="text/javascript"></script>
<script src="/js/login" type="text/javascript"></script>
</body>
</html>
