<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vientos</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    <script type="text/javascript" src="https://rawgit.com/maxatwork/form2js/master/src/form2js.js"></script>
    <script type="text/javascript" src="http://rawgit.com/opencagedata/leaflet-opencage-search/master/dist/js/L.Control.OpenCageSearch.dev.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main" />
    <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/opencagedata/leaflet-opencage-search/master/dist/css/L.Control.OpenCageSearch.dev.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <script src="js/main"></script>
	<script src="js/css3"></script>
</head>
<body>
    <div class="header">
        <img src="/img/vientos_logo_verdeazul.png">  
        <span class="headerLinks">
            <a href="/map">Mapa</a>
            <a href="/register">Registro</a>
            <a href="/about">Acerca</a>
            <a href="#" id="btnCloseToMe">Cerca de Mí</a>
        <span>
    </div>
    <div class="backgroundImage">
        <div class="content">
            {{{content}}}
        </div>
    </div>
    <div class="footer">Todos los derechos liberados</div>
</body>
</html>