<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Vientos</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="https://cloud.github.com/downloads/wycats/handlebars.js/handlebars-1.0.rc.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script> 
    <script type="text/javascript" src="https://rawgit.com/maxatwork/form2js/master/src/form2js.js"></script>
    <script type="text/javascript" src="http://rawgit.com/opencagedata/leaflet-opencage-search/master/dist/js/L.Control.OpenCageSearch.dev.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/main" />
    <link rel="stylesheet" type="text/css" href="css/leaflet" />
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/opencagedata/leaflet-opencage-search/master/dist/css/L.Control.OpenCageSearch.dev.css" />
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <script src="js/leaflet-src"></script>
    <script src="js/main"></script>
    <link rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel='stylesheet' href='css/animate'>
    <link rel="stylesheet" href="css/style">
</head>
<body>

<!--     MENU       -->
 <div id="top-container ">
    <nav class="navbar navbar-default navbar-fixed-top animated fadeInDown ">      
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <span class="logo"><img src="images/logo.svg" alt=""></span>
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

          <ul class="nav navbar-nav navbar-right fix-right">
            <li id="map_btn"><img src="images/map.svg" alt=""></li>
            <li ><a href="#">BENEFICIOS</a></li>
            <li><a href="#">COLABORAR</a></li>
            <li><a href="#">NOSOTROS</a></li>
            {{#if isAuthorized}}
                <li>{{name}} {{lastname}}</li>
                <li><a href="#">LOG OUT</a></li>
            {{else}}
                <li><a href="#"><strong>REGíSTRATE</strong></a></li>
                <li><a href="#">LOGIN</a></li>
            {{/if}}
          </ul>
        </div><!--/.nav-collapse -->    
    </nav>
</div>
<div class="content">
    {{{content}}}
</div>
<div id="map" class="map_footer text-center col-md-12">
    <img src="images/map.svg" alt="">
</div>
<div class="footer-container col-md-12">    
    <div class="col-md-6 text-right datos_contacto">    
            <a href="#">Faqs</a>
            <a href="#">Terminos Legales</a>
            <a href="#">Mapa</a>        
        <h1></h1>
        <br><br>
            <a href="">55-23-12-12</a><br>
            <a href="">contacto@vientos.com</a>
    </div>
    <div class="col-md-6 redes">
        <div class="col-md-6">
            <p>
                <span class="facebook"><a href="#"><i class="fa fa-facebook"></i></a> </span> 
                <span class="twitter"><a href="#"><i class="fa fa-twitter"></i></a> </span>
                <span class="github"><a href="#"><i class="fa fa-github-alt"></i></a></span>
            </p>
            <div class="btn_registrate btn btn-default col-md-offset-2">REGíSTRATE</div>
        </div>
        <div class="col-md-6 logo_footer">
            <img src="images/logo.svg" alt="">
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>