h1 {
	color: #566D7B;
}

html{
	background-color: white;
}

body{
	margin: 0px;
}

.header{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 40px;
	padding: 10px
}

.name{
	color: #ebf5df;
	font-size: 25px;
	width: 400px;
	font-weight: bold;
	font-family: 
}

.logo{
	background-image: url("/img/vientos_logo_verdeazul.png");
}

.headerLinks{
	float: right;
	margin-top: 10px;
	margin-right: 50px
}

.headerLinks a{
	text-decoration: none;
	color: white;
	background-color: #0090AE;
	padding: 10px;
	margin-right: 10px;
	border-radius: 10px;
}

.content{
	min-height: 90vh;
}

.footer{
	text-align: left;
	position: fixed;
	bottom: 0;
	left:0;
	background-color: #211103;
	color: #ebf5df;
	width: 100%;
	text-align: center;
}

/*Map page*/
.projectType{
	border-radius: 5px;
	display: inline-block;
	padding: 5px;
	text-align: center;
	border: 3px solid #395B50;
}

.selected{
	background-color: #79B791;
}

.icon{
	height: 20px;
}

#map{
	height: 450px;
	opacity: 1.0;
}

#introParagraph{
	margin: 30px;
	font-size: 25px;
}

.categoryBtnTodos{
	display: inline-block;
	opacity: .9;
	height: 25px; 
	color: White;
	-moz-border-radius: 50px / 25px;; 
	-webkit-border-radius: 50px / 25px;; 
	border-radius: 50px / 25px;
	border: 1px;
	margin: 5px;
	padding: 3px 10px 0px 10px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	background-color: darkgreen;
	font-size: 1.2em;
	font-weight: bold;
}

.categoryBtn{
	display: inline-block;
	opacity: .9;
	height: 25px; 
	color: White;
	-moz-border-radius: 50px / 25px;; 
	-webkit-border-radius: 50px / 25px;; 
	border-radius: 50px / 25px;
	border: 1px;
	margin: 5px;
	padding: 3px 10px 0px 10px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	background-color: green;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}

#keyWords{
	width: 400px;
	font-style: oblique;
}

/*Register page*/
#registerContainer{
	margin-left: 50px;
}

.tagsContainer{
	display: inline-block;
	margin: 5px;
	text-align: right;
	vertical-align: top;
	width: 100px;
}

.inputsContainer{
	display: inline-block;
	margin: 5px;
}

.categoryInputColumn{
	display: inline-block;
	vertical-align: top;
}
	
textarea{
	width: 400px;
	height: 100px;
}

input[type=text]{
	width: 400px;
}

.overlay {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

#btnCloseToMe {
	display: inline-block;
	opacity: .9;
	height: 25px; 
	color: White;
	-moz-border-radius: 50px / 25px;; 
	-webkit-border-radius: 50px / 25px;; 
	border-radius: 50px / 25px;
	border: 1px;
	margin: 5px;
	padding: 3px 10px 0px 10px;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
	background-color: orange;
	font-size: 1.2em;
	font-weight: bold;
	cursor: crosshair;
}

