/*---------------------------------------------ESTILOS NO DEFINITIVOS*/

.foto1 {
    background-image: url(/img/semillas.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.foto2 {
    background-image: url(/img/crater.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
.foto3 {
    background-image: url(/img/trabajo-equipo-mexico.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
@font-face {
    font-family: circular_black;
    src: url("../fonts/circular_black.ttf"); }
@font-face {
    font-family: circular_bold;
    src: url("../fonts/circular_bold.ttf"); }
@font-face {
    font-family: circular_book;
    src: url("../fonts/circular_book.ttf"); }
@font-face {
    font-family: roboto-light;
    src: url("../fonts/Roboto-Light.ttf"); }
@font-face {
    font-family: roboto-regular;
    src: url("../fonts/Roboto-Regular.ttf"); }
@font-face {
    font-family: roboto-bold;
    src: url("../fonts/Roboto-Bold.ttf"); }
@font-face {
    font-family: roboto-black;
    src: url("../fonts/Roboto-Black.ttf"); }
@font-face {
    font-family: circular_medium;
    src: url("../fonts/circular_medium.ttf"); }
body {
    font-family: roboto-regular;
    margin: 0px;
    padding: 0px; }
strong {
    font-family: roboto-black; }
li {
    display: inherit; }
a {
    color: inherit; }
a:hover,
a:active,
a:focus {
    text-decoration: none !important;
    color: inherit;
    opacity: .5; }
h1 {
    font-family: circular_bold;
    padding-left: 15px !important; }
.upper {
    text-transform: uppercase; }
.vcenter {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
.right-border {
    border-right: solid grey 1px;
    position: absolute;
    top: 20%;
    bottom: 20%;
    right: 0; }
.tx-al-l {
    text-align: left; }
.tx-al-r {
    text-align: right; }
.tx-al-c {
    text-align: center; }
.tx-al-j {
    text-align: justify; }
.fa-select,
.multiselect-container,
.multiselect {
    font-family: sans-serif, 'FontAwesome'; }
.mr-l-5 {
    margin-left: 5px; }
.mr-r-5 {
    margin-right: 5px; }
.mr-t-5 {
    margin-top: 5px; }
.mr-b-5 {
    margin-bottom: 5px; }
.mr-l-10 {
    margin-left: 10px; }
.mr-r-10 {
    margin-right: 10px; }
.mr-t-10 {
    margin-top: 10px; }
.mr-b-10 {
    margin-bottom: 10px; }
.fs-75 {
    font-size: .75em; }
.fs-80 {
    font-size: .8em; }
.fs-90 {
    font-size: .9em; }
.fs-125 {
    font-size: 1.25em; }
.fs-150 {
    font-size: 1.5em; }
.fs-200 {
    font-size: 2em; }
.fs-250 {
    font-size: 2.5em; }
.affix {
    top: 55px;
    width: 100%;
    z-index: 20; }
.green {
    color: #38c12d; }
.1-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
.navbar-vientos {
    background-color: #8cafaf;
    color: white; }
.navbar-nav > li > div > a {
    padding-top: 16px;
    padding-bottom: 15px;
    min-height: 80px;
    letter-spacing: 1px; }
.navbar-brand .logo img {
    height: 59px;
    margin-top: -10px;
    margin-left: 20px; }
.navbar-brand .logo img:hover {
    height: 69; }
.navbar-toggle {
    border: 0px;
    margin-top: 20px; }
.navBarBtn:hover {
    color: #333; }
.navBarBtn .active {
    color: #333; }
.collapsed {
    margin-top: 6px; }
#map_btn:hover {
    background-color: ; }
#map_btn a {
    padding: 6px 15px;
    color: white;
    background: #38c12d;
    border-radius: 25px;
    margin-top: 5px;
    height: 40px;
    cursor: pointer;
    font-family: roboto-bold;
    letter-spacing: 1.5px; }
#map_btn img {
    padding-bottom: 5px;
    height: 30px; }
.container-fluid {
    padding-top: 55px;
    padding-left: 0px;
    padding-right: 0px; }
.row {
    margin-left: 0px;
    margin-right: 0px; }
#home-row {
    height: 80vh;
    margin-top: 50px;
    vertical-align: middle;
    text-align: center; }
#home-row #homeImage {
    max-height: 100%;
    max-width: 100%; }
#benefits-row {
    background-color: #33AA96; }
#benefits-row .col-md-4 {
    padding-left: 40px;
    padding-right: 40px; }
#benefits-row h1 {
    margin: 0px;
    padding: 0px;
    font-family: roboto-regular;
    padding-bottom: 30px;
    text-align: center;
    font-size: 25px; }
#benefits-row img {
    height: 100px;
    margin-bottom: 30px; }
#benefits-row #projects,
#benefits-row #business,
#benefits-row #individual {
    padding-top: 20px; }
#benefits-row #projects {
    background-color: #18a50e;
    color: white; }
#benefits-row #business {
    background-color: #09417c;
    color: white; }
#benefits-row #individual {
    background-color: #ede9de;
    color: #333; }
#benefits-row .card {
    font-size: 1.3em;
    height: 250px; }
#benefits-row .btn_registrate {
    z-index: 100;
    background-color: #5151F4;
    color: #1D1D57;
    border: 0px;
    padding: 15px;
    border-radius: 6px; }
#collaborate-row {
    margin-top: 30px;
    margin-bottom: 30px; }
#collaborate-row #collaborateTitle {
    text-align: right;
    font-size: 1.7em;
    margin-right: 50px;
    margin-bottom: 30px; }
#collaborate-row > div {
    text-align: center; }
#collaborate-row .collaborationWay {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
#collaborate-row .collaborationWay .circle {
    border: solid 2px #dddddd;
    height: 80px;
    width: 80px;
    border-radius: 40px; }
#collaborate-row .collaborationWay .icon {
    height: 80px; }
#collaborate-row .collaborationWay .more {
    color: darkblue;
    font-size: 2em; }
#collaborate-row .collaborationWay .colLabel {
    width: 80px;
    font-size: .8em; }
#categories-row {
    margin: 30px 0px 60px 0px; }
#categories-row #categoryTitle {
    text-align: left;
    font-size: 1.7em;
    margin-left: 50px;
    margin-bottom: 30px; }
#categories-row #categoryTitle .showBigger {
    font-family: roboto-bold;
    font-size: 1.2em; }
#categories-row > div {
    text-align: center; }
#categories-row .category {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
#categories-row .category:hover {
    cursor: pointer; }
#categories-row .category .circle {
    background-color: #38c12d;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #ddd; }
#categories-row .category .circle:active {
    box-shadow: none;
    position: relative;
    top: 5px;
    left: 5px; }
#categories-row .category .circle:hover {
    box-shadow: 3px 3px 3px #ddd;
    position: relative;
    top: 2px;
    left: 2px; }
#categories-row .category i {
    color: white;
    font-size: 2em; }
#categories-row .category .catLabel {
    width: 50px;
    font-size: .8em; }
#casos-row {
    padding-top: 30px;
    padding-bottom: 30px; }
#casos-row h1 {
    padding-bottom: 20px; }
#casos-row .foto_project {
    background-color: black;
    height: 236px;
    border-radius: 10px 10px 0px 0px; }
#casos-row .texto_project {
    background-color: #F5F6F7;
    padding: 35px;
    padding-top: 40px;
    border-radius: 0px 0px 10px 10px;
    font-size: 18px; }
#casos-row .col-md-4 {
    padding-bottom: 5px; }
#casos-row .sign {
    font-size: 22px;
    padding-top: 20px; }
#casos-row .brand {
    color: #42F475; }
.project_options {
    display: flex; }
.project_options .circle {
    margin: 20px; }
#we-row {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #F5F6F7; }
#we-row .us {
    font-size: 1.5em;
    margin-bottom: 50px; }
#we-row .us p {
    padding-bottom: 35px; }
#we-row .us .principles div {
    height: 50px; }
#we-row .us .principles i {
    margin-right: 10px; }
.footer-container {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #F5F6F7;
    background-color: #28282D; }
.footer-container li,
.footer-container p {
    padding-bottom: 15px;
    padding-top: 15px; }
.redes,
.links,
.datos_contacto {
    min-height: 100px; }
.redes {
    font-size: 21px; }
.links,
.datos_contacto {
    border-right: 1px solid #F5F6F7; }
.logo_footer img {
    width: 45%; }
.facebook {
    color: #134DDA; }
.twitter {
    color: #2AB1E8; }
.github {
    color: #F5F6F7; }
.facebook,
.twitter,
.github {
    margin-left: 31px; }
#map-row {
    background-image: url("/img/fondomapa.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: multiply;
    padding-top: 30px;
    padding-bottom: 30px;
    cursor: pointer; }
#map-row img {
    height: 50px; }
@media (max-width: 992px) { }
@media (max-width: 762px) { }
.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: 500px; }
#loginFormContainer {
    height: 100%;
    padding: 100px; }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0; }
.overlay:target {
    visibility: visible;
    opacity: 1; }
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out; }
.popup .popupBtn {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    border: 1px;
    margin: 5px;
    background-color: lightblue;
    padding: 10px;
    cursor: pointer; }
.closePopUp {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000; }
.profile {
    background-color: #eeeeee; }
.profile {
    padding-left: 70px;
    padding-top: 80px;
    padding-bottom: 40px; }
.profile #mapRow {
    margin-left: -70px; }
.profile #map {
    width: 100%;
    height: 200px; }
.profile #topBar {
    background-color: white;
    margin-left: -70px;
    margin-bottom: 35px; }
.profile #topBar #picture,
.profile #topBar #projectData,
.profile #topBar #personalData,
.profile #topBar #description,
.profile #topBar #interests,
.profile #topBar #collaborations,
.profile #topBar #contactData {
    height: 180px; }
.profile #topBar #picture .fakePicture {
    background-color: grey;
    height: 180px;
    width: 180px;
    margin-left: 56px; }
.profile #topBar #picture img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 56px; }
.profile #topBar #projectName {
    font-size: 2em;
    line-height: 85%; }
.profile #topBar #description > div {
    max-height: 170px;
    overflow: hidden;
    padding-right: 5px; }
.profile #topBar #description > div:hover {
    overflow: auto; }
.profile #topBar #projectCategories i {
    background-color: #38c12d;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    padding-top: 8px; }
.nav-tabs {
    border-bottom: none; }
.nav-tabs>li.active>a {
    background: #38c12d !important;
    color: white !important;
    opacity: 1; }
.nav-tabs>li>a {
    border-color: #eee !important;
    color: white !important;
    background-color: rgba(58, 0, 102, 0.6666666666666666) !important; }
.nav-tabs>li.active>a:hover {
    background: #38c12d !important;
    color: white !important; }
.profile #sectionTabsRow {
    margin-bottom: 20px; }
.profile .fakePhoto {
    width: 50px;
    height: 50px;
    background-color: lightblue; }
.profile .label {
    margin-left: 5px; }
.profile .profileTitle {
    margin-bottom: 20px;
    margin-top: 10px; }
.profile #secHome { }
.profile .collaboration,
.profile .myProject,
.profile .suggestedProject,
.profile .likedProject {
    cursor: pointer;
    padding: 0px;
    padding-right: 10px; }
.profile #secProjects { }
.profile #secOffersNeeds {
    margin-top: 38px; }
.profile #secOffersNeeds #offers,
.profile #secOffersNeeds #needs { }
.profile #secOffersNeeds .collaborationCategory {
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px 3px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white; }
.profile #secOffersNeeds .collaborationCategoryTitle .icon {
    height: 50px; }
.profile #secOffersNeeds .collaborationCategoryTitle .label {
    float: right;
    margin: 15px; }
.profile #secOffersNeeds .offer,
.profile #secOffersNeeds .need {
    margin-left: 30px;
    cursor: pointer;
    padding: 5px; }
.profile #secOffersNeeds .offer:nth-child(odd),
.profile #secOffersNeeds .need:nth-child(odd) {
    background-color: #d6f1d6;
    color: #989696; }
.profile #secOffersNeeds .offer:nth-child(even),
.profile #secOffersNeeds .need:nth-child(even) {
    background-color: white;
    color: #aaaaaa; }
.profile #secOffersNeeds .offer > div,
.profile #secOffersNeeds .need > div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
.profile #secOffersNeeds .editIcon,
.profile #secOffersNeeds .deleteIcon {
    float: right; }
.profile #secInterests { }
.profile #secInterests #categories #categoriesSec {
    margin-top: 70px; }
.profile #secInterests #categories .category {
    width: 100px;
    height: 100px;
    border: 2px solid grey;
    padding: 12px;
    color: grey;
    border-radius: 20px;
    margin: 10px 20px 10px 0px;
    cursor: pointer;
    overflow-wrap: break-word; }
.profile #secInterests #categories .selected {
    background-color: #38c12d;
    border: none;
    color: white; }
.profile #secInterests #categories .category i {
    display: block; }
.profile #secInterests #interests {
    padding: 0px; }
.profile #secInterests #interestList {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px; }
.profile #secInterests #skillList {
    margin-top: 20px; }
.profile #secConfiguration {
    background-color: white;
    border-radius: 20px;
    padding: 20px; }
#projectModelData {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px;
    margin: 0px 10px; }
#projectModalPhoto {
    display: inline-block; }
#projectModalLabel {
    display: inline-block;
    vertical-align: bottom;
    padding: 15px; }
#seeProjectInMapBtn {
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px; }
#seeProjectInMapBtn:hover {
    background-color: lightgreen; }
#searchPage {
    height: 90vh; }
#searchPage #searchTopBar {
    padding: 10px;
    background-color: #8cafaf;
    margin-top: 50px; }
#searchPage #searchTopBar #searchInputs {
    border: solid 1px #dddddd;
    border-radius: 5%;
    padding-left: 10px;
    background-color: white;
    float: right; }
#searchPage #searchTopBar #searchInputs input {
    border: none;
    margin-left: 10px; }
#searchPage #searchTopBar #searchInputs #keyWordsInput {
    border-right: 1px solid #dddddd; }
#searchPage #searchTopBar #searchInputs button {
    border: none; }

#searchPage #map .leaflet-div-icon {
    background: none;
    border: none; }

#searchPage #searchResults{
  padding-left: 225px;
  padding-top: 10px; }

#searchPage #projects{
  height: 80vh; } 

#searchPage #projectsGrid {
  max-height: 100%;
}

#searchPage #projectsGrid .projectCell .projectCard{
  margin: 10px;
  height: 30vh;   }
#searchPage #map{
  height: 80vh; }

#searchPage #btnCloseToMe {
  position: absolute;
  top: 110px;
  right: 20px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #5997e6;
  color: white;
  border: 2px solid white;
  padding: 10px 11px;
  cursor: pointer;
  -o-animation: pulsate 3s ease-out;
  -o-animation-iteration-count: infinite;
  -moz-animation: pulsate 3s ease-out;
  -moz-animation-iteration-count: infinite;
  -webkit-animation: pulsate 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation: pulsate 3s ease-out;
  animation-iteration-count: infinite; }

#searchPage #btnCloseToMe:hover {
  -webkit-animation-play-state: initial; 
  -o-animation-play-state: initial; 
  -moz-animation-play-state: initial; 
  animation-play-state: initial; }

@-webkit-keyframes pulsate{
    0% {-webkit-transform: scale(0.5, 0.5); opacity: 0.5;}
    50% {opacity: .8;}
    100% {opacity: 1;} }
@-o-keyframes pulsate{
    0% {-o-transform: scale(0.5, 0.5); opacity: 0.5;}
    50% {opacity: .8;}
    100% {opacity: 1;} }
@-moz-keyframes pulsate{
    0% {-moz-transform: scale(0.5, 0.5); opacity: 0.5;}
    50% {opacity: .8;}
    100% {opacity: 1;} }
@keyframes pulsate {
    0% {transform: scale(0.5, 0.5); opacity: 0.5;}
    50% {opacity: .8;}
    100% {opacity: 1;} }

#searchPage .project #projectContactData {
    margin-top: 20px; }
#searchPage .project #projectPhone,
#searchPage .project #projectMobile,
#searchPage .project #projectEmail,
#searchPage .project #projectAddress {
    display: inline-block;
    margin-left: 10px; }
#searchPage #projectDescription #projectPhone i,
#searchPage #projectDescription #projectMobile i,
#searchPage #projectDescription #projectEmail i,
#searchPage #projectDescription #projectAddress i,
#searchPage #projectDescription #scheduleSec i {
    margin: 0px 10px;
    float: left; }
#searchPage #projectDescription #projectPhone,
#searchPage #projectDescription #projectMobile,
#searchPage #projectDescription #projectEmail,
#searchPage #projectDescription #projectAddress {
    text-overflow: ellipsis;
    overflow: hidden; }
#searchPage #projectDescription #offersNeedsRow i {
    color: #38c12d;
    font-size: .6em;
    vertical-align: middle;
    margin-right: 5px; }

#searchPage #categoriesContainer {
    width: 215px;
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 10px; }
#searchPage #categoriesContainer .categoryBtn {
    height: 5vh;
    padding: 5px;
    background-color: #ce400a;
    margin-bottom: 5px;
    color: #fcf8e3;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.2em;
    padding-left: 10px;}
#searchPage #categoriesContainer .selected {
    background-color: rgba(24, 86, 86, 0.8);
    text-align: right; }
#searchPage #categoriesContainer .categoryBtnAll {
    background-color: #48bb59;
    color: white;}
#searchPage #categoriesContainer .categoryBtn i {
    padding-right: 10px; }
#searchPage #categoriesContainer .categoryBtn:hover {
    background-color: #39d24e; }
#searchPage #typesContainer {
    width: 215px;
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 10px;
}
#searchPage #typesContainer .typeBtn {
    height: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 5px;
    padding: 4px;
    cursor: pointer;
    padding-left: 20px;
    letter-spacing: 1px;
    font-size: 1.2em;
    margin-bottom: 10px; }
#searchPage #typesContainer #cooperative {
    background-color: #800000; }
#searchPage #typesContainer #collective {
    background-color: #008B8B; }
#searchPage #typesContainer #ngo {
    background-color: #556B2F; }
#searchPage #typesContainer #ethicalBusiness {
    background-color: #B8860B; }
#searchPage #typesContainer #neighborsorg {
    background-color: #C63D1E; }
#searchPage #typesContainer #startup {
    background-color: #58376C; }
#searchPage #typesContainer #all {
    border: 2px solid #38c12d;
    color: darkgreen;
    padding-top: 2px;
    padding-left: 16px;}
#searchPage #waysOfCollaborationContainer {
    width: 215px;
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 10px; }
#searchPage #waysOfCollaborationContainer .collaborationWay{
    background-color: #619658;
    border-radius: 20px;
    height: 6vh;
    margin-bottom: 4px;
    line-height: 6vh;
    cursor: pointer;
}
#searchPage #waysOfCollaborationContainer .collaborationWay .circle {
    background-color: white;
    float: left;
    margin: 5px;
    line-height: normal; 
    height: 30px;
    width: 30px;
    border-radius: 15px;}
#searchPage #waysOfCollaborationContainer .collaborationWay .circle .icon {
    height: 30px;
}
#searchPage #waysOfCollaborationContainer .collaborationWay .circle:hover {
    background-color: #48bb59; }
#searchPage #waysOfCollaborationContainer .collaborationWay .colLabel {
    font-size: 1.2em;   
    line-height: 1.1;
    color: white;
    display: inline;
    overflow: hidden;
    word-wrap: break-word; }

#searchPage #projectsGrid .front .circle {
    height: 130px;
    width: 130px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 65px;
    border: 2px solid rgba(0,128,0,.3);
    position: relative;
    margin: auto; }
#searchPage #projectsGrid .front .projectName {
    font-size: 1.5em;   
    margin-top: 3px;
    text-align: center;
}
#searchPage #projectsGrid .front .categories {
    text-align: center;
    font-size: 1.5em;
}

#searchPage #projectsGrid .back {
    border: 1px solid grey;
    border-radius: 10px;  
    padding: 10px;
}

#searchPage #projectsGrid .back .title {
    color: #4d0563;
    font-weight: bold;
    text-align: center;
}

#searchPage #projectsGrid .back .offersContainer,
#searchPage #projectsGrid .back .needsContainer {
    height: 13vh;
    overflow: hidden;
    margin-bottom: 3px;
}
#searchPage #projectsGrid .back .offersContainer .offer,
#searchPage #projectsGrid .back .offersContainer .need{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  }

#searchPage #projectsGrid .back .icon {
    height: 20px;
}

.myIcon {
    z-index: 98; }
.markerPopUp {
    background-color: rgba(85, 85, 85, 0.9);
    font-size: .7em;
    position: absolute;
    left: 50px;
    border-radius: 10px;
    padding: 10px 15px;
    display: none;
    font-family: roboto-regular;
    letter-spacing: 1px;
    word-spacing: 1px;
    color: white;
    white-space: nowrap; }
.markerPopUp:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: rgba(85, 85, 85, 0.9);
    border-width: 10px;
    margin-top: -10px; }
.markerPopUp .markerPopUpName {
    line-height: 95%; }
#searchPage #projectDescription {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 0px;
    border-radius: 20px;
    border: solid lightblue 3px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    height: 85%;
    display: none;
    overflow: scroll;
    z-index: 8; }
#searchPage #projectDescription hr {
    border-top: 1px solid #ccc;
    margin-bottom: 0px; }
#searchPage #projectDescription #projectName {
    margin: 0px; }
#searchPage #projectDescription .offersNeedsTitles {
    margin: 0px 0px 15px 0px; }
#searchPage #topLeftCorner {
    float: left;
    margin-right: 15px; }
#searchPage #projectDescription #topLeftCorner #projectLogo,
#searchPage .project #topLeftCorner #projectLogo {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-size: contain;
    background-repeat: no-repeat; }
#searchPage #projectDescription #topLeftCorner #projectType,
#searchPage .project #topLeftCorner #projectType,
.profile #projectType {
    height: 25px;
    border-radius: 10px;
    border: none;
    color: white;
    display: inline-block;
    margin-top: 5px;
    padding: 5px; }
#searchPage #projectDescription #projectDescription {
    display: -webkit-box;
    font-size: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 110px;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin-bottom: 10px; }
#searchPage #projectDescription .btn-profile {
    background-color: #3fa951;
    border-color: #bbb;
    color: white;
    float: right; }
#searchPage #projectDescription .btn-profile:hover {
    opacity: 0.9; }
#searchPage #projectDescription #projectContactData .row {
    margin-top: 10px; }
#searchPage #projectCategories {
    display: inline-block;
    margin-left: 30px; }
#projectFacebook,
#projectTwitter {
    margin-right: 10px; }
#projectWebSite {
    color: #000;
    letter-spacing: 2px;
    border: 2px solid #bbb;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    top: -5px; }
#searchPage .project #projectContactData {
    margin-top: 20px; }
#searchPage .project #projectPhone,
#searchPage .project #projectMobile,
#searchPage .project #projectEmail,
#searchPage .project #projectAddress {
    display: inline-block;
    margin-left: 10px; }
#searchPage #projectDescription #projectPhone i,
#searchPage #projectDescription #projectMobile i,
#searchPage #projectDescription #projectEmail i,
#searchPage #projectDescription #projectAddress i,
#searchPage #projectDescription #scheduleSec i {
    margin: 0px 10px;
    float: left; }
#searchPage #projectDescription #projectPhone,
#searchPage #projectDescription #projectMobile,
#searchPage #projectDescription #projectEmail,
#searchPage #projectDescription #projectAddress {
    text-overflow: ellipsis;
    overflow: hidden; }
#searchPage #projectDescription #offersNeedsRow i {
    color: #38c12d;
    font-size: .6em;
    vertical-align: middle;
    margin-right: 5px; }
#collaborationPage {
    margin-top: 50px; }
#collaborationPage #collaborationWays > div,
#collaborationPage .subWays > div {
    text-align: center; }
#collaborationPage .subWays {
    display: none;
    margin-top: 20px 0px;
    padding: 20px;
    background-color: #38c12d;
    color: white; }
#collaborationPage .subWays .collaborationSubWay .circle {
    border: solid 2px #dddddd;
    background-color: #dddddd;
    height: 80px;
    width: 80px;
    border-radius: 40px; }
#collaborationPage .subWays .collaborationSubWay .icon {
    height: 80px; }
#collaborationPage .subWays .collaborationSubWay .colLabel {
    width: 80px;
    font-size: .8em; }
#collaborationPage .selected {
    background-color: #38c12d; }
#collaborationPage #collaborationWays {
    margin-bottom: 20px; }
#collaborationPage #categories i { }
#registerPage,
#registerForm {
    margin-top: 55px;
    margin-bottom: 100px; }
#registerPage #map {
    width: 800px;
    height: 500px; }
#registerPage #registerForm > div {
    margin-right: 0px; }
#registerPage #categories .category {
    width: 80px;
    height: 80px;
    background-color: purple;
    padding: 12px;
    color: white;
    border-radius: 20px;
    margin: 1px;
    cursor: pointer;
    font-size: .8em;
    margin-top: 50px; }
#registerPage #newOfferInput,
#registerPage #newNeedInput {
    display: inline-block;
    width: 90%; }
#registerPage #newDaysInput,
#registerPage #newHoursInput {
    display: inline-block;
    width: 30%;
    margin-right: 2px; }
#registerPage #addOfferBtn,
#registerPage #addNeedBtn {
    display: inline-block;
    margin-left: 5px; }
#registerPage #offers .offerAdded,
#registerPage #needs .needAdded {
    display: block;
    margin: 2px;
    width: 100%;
    border: none;
    background-color: #ddd;
    border-radius: 5px;
    padding: 2px 5px; }
#registerPage #categories .selected {
    background-color: #ff6a00; }
#registerPage #categories .category i {
    display: block; }