/*---------------------------------------------ESTILOS NO DEFINITIVOS*/
.foto1 {
  background-image: url(/img/semillas.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.foto2 {
  background-image: url(/img/crater.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.foto3 {
  background-image: url(/img/trabajo-equipo-mexico.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/*---------------------------------------------FONTS*/
@font-face {
  font-family: circular_black;
  src: url("../fonts/circular_black.ttf"); }

@font-face {
  font-family: circular_bold;
  src: url("../fonts/circular_bold.ttf"); }

@font-face {
  font-family: circular_book;
  src: url("../fonts/circular_book.ttf"); }

@font-face {
  font-family: circular_medium;
  src: url("../fonts/circular_medium.ttf"); }

@font-face {
  font-family: roboto-black;
  src: url("../fonts/Roboto-Black.ttf"); }

@font-face {
  font-family: roboto-bold;
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: roboto-regular;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: roboto-light;
  src: url("../fonts/Roboto-Light.ttf"); }

/*--------------------------------------------COLORS*/
/* BASICS */
/* PRINCIPAL Colors*/
/* OVERS */
/* Secondary Colors */
/* blacks */
/* Secciones */
/*------------------------------------------Elemental Styles*/
body {
  font-family: roboto-regular;
  margin: 0px;
  padding: 0px;
}

strong {
  font-family: circular_black; }

li {
  display: inherit; }

a {
  color: inherit; }

a:hover, a:active, a:focus {
  text-decoration: none !important;
  color: inherit;
  opacity: .5; }

h1 {
  font-family: circular_bold;
  padding-left: 15px !important; }

.upper {
  text-transform: uppercase; }

.vcenter {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);}

.right-border {
  border-right: solid grey 1px; 
}

/* GENERAL CONTAINERS INDEX */
/* ------------ TOP MENU */
/*.navbar-right {
  margin-right: 0px !important;
  height: 55px; }*/

.navbar-vientos{
  background-color: #8cafaf;
  color: white;
}

.navbar-nav > li > div > a {
  padding-top: 16px;
  padding-bottom: 15px;
  min-height: 80px;
  letter-spacing: 1px; }

.navbar-brand .logo img {
  height: 59px;
  margin-top: -10px; 
  margin-left: 20px; }

.navbar-brand .logo img:hover{
  height: 69;
}

.navbar-toggle {
  border: 0px;
  margin-top: 20px; }

.navBarBtn:hover{
  color: #333;
}

.navBarBtn .active{
  color: #333;
}

#map_btn :hover {
  background-color: ; }

#map_btn a {
  padding: 6px 15px;
  color: white;
  background: #38c12d;
  border-radius: 25px;
  margin-top: 5px;
  height: 40px;
  cursor: pointer;
  font-family: roboto-bold;
  letter-spacing: 1.5px;
}

#map_btn img {
  padding-bottom: 5px;
  height: 30px; }

.container-fluid{
  padding-top: 55px;
  padding-left: 0px;
  padding-right:0px;}

.row{
  margin-left: 0px;
  margin-right: 0px;}

/* --------- HOME CONTAINER */
#home-row {
  height: 80vh;
  margin-top: 50px;
  margin-left: 111px;
  background-image: url("/img/fondoHome.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

/* ------ BENEFITS CONTAINER */
#benefits-row {
  background-color: #33AA96; }
  #benefits-row .col-md-4 {
    padding-left: 40px;
    padding-right: 40px; }

  #benefits-row h1 {
    margin: 0px;
    padding: 0px;
    font-family: roboto-regular;
    padding-bottom: 30px; 
    text-align: center;
    font-size: 25px;}
  #benefits-row li {
    font-size: 20px; }
  #benefits-row img {
    height: 100px;
    margin-bottom: 30px; }

  #benefits-row #projects, 
  #benefits-row #business, 
  #benefits-row #individual {
    padding-top: 20px;
    min-height: 560px; }

#benefits-row #projects {
  background-color: #18a50e; 
   color: white;
}

#benefits-row #business {
  background-color: #09417c; 
  color: white;
}

#benefits-row #individual {
  background-color: #ede9de;
  color: #333; }

#benefits-row .btn_registrate {
  z-index: 100;
  background-color: #5151F4;
  color: #1D1D57;
  border: 0px;
  padding: 15px;
  border-radius: 6px; } 

/* ------ collaboratION CONTAINER */
#collaborate-row {
  margin-top: 30px;
  margin-bottom: 30px;}

  #collaborate-row #collaborateTitle{
    margin-bottom: 50px;
  }

  #collaborate-row > div {
    text-align: center; }

  .collaborationWay{
    display: inline-block;
    vertical-align: top; 
    margin-right: 10px; }

    .collaborationWay .circle {
      border: solid 2px #dddddd;
      height: 80px;
      width: 80px;
      border-radius: 40px; }

    .collaborationWay .icon {
      height: 80px; }

    .collaborationWay .more {
      color: darkblue;
      font-size: 2em; }

    .collaborationWay .colLabel {
      width: 80px;
      font-size: .8em; }

/* ------- CATEGORIES CONTAINER */

#categories-row{
  margin: 30px 0px 60px 0px;}

  #categories-row #categoryTitle{
    margin-bottom: 50px;
  }

  #categories-row > div {
    text-align: center;
  }

  #categories-row .category{
    display: inline-block;
    vertical-align: top; 
    margin-right: 10px;}

    #categories-row .category .circle {
      background-color: #38c12d;
      height: 60px;
      width: 60px;
      border-radius: 30px; }  

    #categories-row .category i {
      color: white;
      font-size: 2em;
    }

    #categories-row .category .catLabel {
      width: 50px;
      font-size: .8em;}


/* ------- TOP collaboratORS CONTAINER */
#casos-row {
  padding-top: 30px;
  padding-bottom: 30px; }
  #casos-row h1 {
    padding-bottom: 20px; }

#casos-row .foto_project {
  background-color: black;
  height: 236px;
  border-radius: 10px 10px 0px 0px; }

#casos-row .texto_project {
  background-color: #F5F6F7;
  padding: 35px;
  padding-top: 40px;
  border-radius: 0px 0px 10px 10px;
  font-size: 18px; }

#casos-row .col-md-4 {
  padding-bottom: 5px; }

#casos-row .sign {
  font-size: 22px;
  padding-top: 20px; }

#casos-row .brand {
  color: #42F475; }

.project_options {
  display: flex; }
  .project_options .circle {
    margin: 20px; }

/* ------------------  */
/* -------- WE- CONTAINER */
#we-row {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F6F7; }
  #we-row .frase {
    padding-top: 70px;
    padding-bottom: 50px; }
  #we-row .foto_we {
    height: 600px;
    border-radius: 10px;
    background-color: #28282D;
    background-image: url(../images/equipo.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

    #we-row p{
      padding-bottom : 50px;   
    }

  #we-row .principles div{
    height: 50px;
  }

  #we-row .principles i{
    margin-right: 10px;
  }

/* ------------------  */
/* -------- FOOTER */
.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #F5F6F7;
  background-color: #28282D; }
  .footer-container li, .footer-container p {
    padding-bottom: 15px;
    padding-top: 15px; }

.redes, .links, .datos_contacto {
  min-height: 100px; }

.redes {
  font-size: 21px; }

.links, .datos_contacto {
  border-right: 1px solid #F5F6F7; }

.logo_footer img {
  width: 45%; }

.facebook {
  color: #134DDA; }

.twitter {
  color: #2AB1E8; }

.github {
  color: #F5F6F7; }

.facebook, .twitter, .github {
  margin-left: 31px; }

#map-row {
  background-color: #28282D;
  background-image: url("/img/map.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: multiply;
  padding-top: 30px;
  padding-bottom: 30px; 
  cursor: pointer;
}

#map-row img{
  height: 50px;
}
/* ----------------------------------------------  MEDIAS */
@media (max-width: 992px) {
  .no_mobile {
    display: none; }
  #home-row {
    height: auto;
  }
  #benefits-row .text-center {
    text-align: right; }
  .redes, .links, .datos_contacto {
    text-align: center !important;
    border: 0px; }
  .footer-container img {
    height: 100px;
    padding-top: 30px; } }

@media (max-width: 762px) { 
  #map_btn a {
    padding-left: 20px 
    max-width: 100px;}
   }


.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 500px; }


/*----Login PopUp----*/

#loginFormContainer{
  height: 100%;
  padding: 100px;
}

.overlay{
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .popupBtn{
  -moz-border-radius: 25px;; 
  -webkit-border-radius: 25px;; 
  border-radius: 25px;
  border: 1px;
  margin: 5px;
  background-color: lightblue;
  padding: 10px;
  cursor: pointer;
}

.closePopUp {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}

/* User Profile */
/*#userProfile #topBar{
  height: 200px;
}*/

#userProfile {
  background-color: #eeeeee;
  padding: 20px;}

#userProfile #topBar {
  background-color: white;}

#userProfile #topBar .row > div{
  height: 200px;
  padding: 10px;}

#userProfile #topBar #picture .fakePicture{
  background-color: grey;
  height: 180px;
  width: 180px;}


#userProfile #sectionButtonsRow{
  text-align: center;}

#userProfile #sectionButtonsRow .sectionBtn{
  display: inline-block;
  padding: 5px;
  height: 30px;
  width: 30px;
  background-color: orange;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;}

#userProfile #sectionButtonsRow .sectionBtn:hover{
  cursor: pointer;
  background-color: red;
  position: relative;
  top: 3px;}

#userProfile #sectionButtonsRow .selected{
  background-color: blue;
  width: 50px;}

  #userProfile .fakePhoto{
    width: 50px;
    height: 50px;
    background-color: lightblue;}

  #userProfile .label {
    margin-left: 5px;
  }

#userProfile #secHome{}

#userProfile #secHome .collaboration{
  cursor: pointer;
  padding: 10px; 
}


#userProfile #secProjects{}
  
  #userProfile #secProjects .myProject,
  #userProfile #secProjects .suggestedProject,
  #userProfile #secProjects .likedProject{
    cursor: pointer;
    padding: 10px;  }



#userProfile #secOffersAndNeeds{}

#userProfile #secOffersAndNeeds #offers,
#userProfile #secOffersAndNeeds #needs{
  padding: 10px;
  background-color: white;
  border-radius: 20px;}

  #userProfile #secOffersAndNeeds .collaborationCategory{
    border: 1px solid #ddd;
    padding: 5px;
    margin: 20px 3px;
    border-radius: 10px;
    cursor: pointer;
  }

  #userProfile #secOffersAndNeeds .offer,
  #userProfile #secOffersAndNeeds .need {
    margin-left: 30px;
    cursor: pointer;
    padding: 5px;}

    #userProfile #secOffersAndNeeds .offer:nth-child(even),
    #userProfile #secOffersAndNeeds .need:nth-child(even){
      background-color: #d6f1d6;
      color: #989696;}

    #userProfile #secOffersAndNeeds .offer:nth-child(odd),
    #userProfile #secOffersAndNeeds .need:nth-child(odd){
      background-color: white;
      color: #aaaaaa;}

    #userProfile #secOffersAndNeeds .offer > div,
    #userProfile #secOffersAndNeeds .need > div{
      display: inline-block;
      margin-right: 20px;
      vertical-align: middle; }

    

#userProfile #secInterests{
  background-color: white;
  border-radius: 20px;
  padding: 20px; }

  #userProfile #secInterests #categories #categoriesSec{
    margin-top: 50px;
  }

  #userProfile #secInterests #categories .category{
    width: 100px;
    height: 100px;
    background-color: purple;
    padding: 15px;
    color: white;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;  
  }

  #userProfile #secInterests #categories .selected{
    background-color: #ff6a00;
  }

    #userProfile #secInterests #categories .category i{
      display: block;}

  #userProfile #secInterests #interestList{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eeeeee; 
  }

#userProfile #secConfiguration{
  background-color: white;
  border-radius: 20px;
  padding: 20px; }
}

#projectModelData{
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  padding: 10px;
  margin:0px 10px; 
}

#projectModalPhoto{
  display: inline-block;
}

#projectModalLabel{
  display: inline-block;
  vertical-align: bottom;
  padding: 15px;
}

#seeProjectInMapBtn{
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    padding: 10px;
}

#seeProjectInMapBtn:hover{
  background-color: lightgreen;
}

/* MAPA */

#mapPage{
  height: 83vh;
  margin-top: 50px;}

  #mapPage #mapTopBar{
    padding: 10px;
    background-color: #8cafaf;}

    #mapPage #mapTopBar #searchInputs{
      border: solid 1px #dddddd;
      border-radius: 5%;
      padding-left: 10px;
      background-color: white;
      float: right;}

      #mapPage #mapTopBar #searchInputs input{
        border: none;
        margin-left: 10px;}

      #mapPage #mapTopBar #searchInputs #keyWordsInput{
        border-right: 1px solid #dddddd;}

      #mapPage #mapTopBar #searchInputs button{
        border:none;}


  #mapPage #map{
    height: 100%;
    width: 100%;}

  #map .leaflet-div-icon {
     background: none; 
     border: none; }
  

   /* .leaflet-left .leaflet-control {
    display: none;}*/

  #mapPage #categoriesContainer{
    position: absolute;
    top: 110px;
    left: 10px;
    border-radius: 10px;
  }

    #mapPage #categoriesContainer .categoryBtn{
      height: 5vh;
      padding: 10px;
      background-color: rgba(97, 125, 125, 0.8);;
      color: #fcf8e3;
      cursor: pointer;
      border-radius: 20px;
    }

    #mapPage #categoriesContainer .categoryBtnAll{
      height: 5vh;
      padding: 10px;
      background-color: #48bb59;
      color: white;
      cursor: pointer;
      border-radius: 20px; 
    }

    #mapPage #categoriesContainer .categoryBtn i{
      padding-right: 5px;
    }


    #mapPage #categoriesContainer .categoryBtn:hover{
      background-color: #39d24e;  
    }

  #mapPage #projectTypesContainer{
    position: absolute;
    top: 50px;
    left: 10px;
    height: 95%;}

    #mapPage #projectTypesContainer #projectTypeBtn{
    }

  #mapPage #collaborationWaysContainer{
    position: absolute;
    top: 50px;
    left: 10px;
    height: 95%;}

    #mapPage #collaborationWaysContainer #collaborationWayBtn{
    }

  #mapPage #btnCloseToMe{
    position: absolute;
    top: 130px;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #5997e6;
    color: white;
    border: 2px solid white;
    padding: 10px 11px;
    cursor: pointer;
  }

  #mapPage #projectList{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 0px;
    width: 80%;}

.myIcon{
  z-index: 98;
}

.markerPopUp {
  background-color: rgba(85,85,85,0.9);
  font-size: .7em;
  position: absolute;
  left: 50px;
  border-radius: 10px;
  padding: 10px 15px;
  display: none;
  font-family: roboto-regular;  
  letter-spacing: 1px;
  word-spacing: 1px;
  color: white;
  white-space: nowrap;
}

.markerPopUp:after{
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: rgba(85,85,85,0.9);
  border-width: 10px;
  margin-top: -10px;
}

.markerPopUp .markerPopUpName{
  line-height: 95%;
}

#mapPage #mapSideBar{
  position: absolute;
  top:60px;
  right: 0px;
  width: 0px;
  border-radius: 20px;
    border: solid lightblue 3px;
    padding: 20px;
    background: rgba(255,255,255,0.95);
  height: 85%;
  display: none;
  overflow: scroll;
  z-index: 2;
}

#mapPage #mapSideBar #projectName,
#mapPage #mapSideBar .offersNeedsTitles  {
  margin: 0px;
}

#mapPage #mapSideBar #topLeftCorner{
  float: left;
  margin-right: 15px;
}

#mapPage #mapSideBar #topLeftCorner #projectLogo{  
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-size: contain;
}

#mapPage #mapSideBar #topLeftCorner #projectType {
  height: 25px;
  border-radius: 10px;
  border: none;
  color: white;
  display: inline-block;
  margin-top: 5px;
    padding: 5px;   
}

#mapPage #mapSideBar #projectDescription{
  display: -webkit-box;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 110px;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}

#mapPage #mapSideBar .btn-profile{
  background-color: #3fa951;
  border-color: #bbb;
  color: white;
  float: right;
}

#mapPage #mapSideBar .btn-profile:hover{
  opacity: 0.9;
}


#mapPage #mapSideBar #projectContactData div{
  margin: 3px;
  padding-left: 30px;
  font-size: 1.2em;
}

#mapPage #mapSideBar #projectFacebook,
#mapPage #mapSideBar #projectTwitter{
  margin-right: 10px;
}

#mapPage #mapSideBar #projectWebSite{
  color: #000;
  letter-spacing: 2px;
  border: 2px solid #bbb;
  padding: 3px;
  border-radius: 10px;
  position: relative;
  top: -5px;
}

#mapPage #mapSideBar #projectPhone,
#mapPage #mapSideBar #projectMobile,
#mapPage #mapSideBar #projectEmail,
#mapPage #mapSideBar #projectAddress{
  margin: 10px;
}

#collaborationPage{
  margin-top: 50px;
}
#collaborationPage .selected{
  background-color: #38c12d;
}

#collaborationPage .subWays{
  display: none;
}