<div class="fluid-container">
	<div class="row ways">
		<div>
			<h3>Maneras de Colaboración</h3>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
		<div class="col-md-1 way">
			<div class="wayTitle"></div>
			<div class="wayIcon"><img src="svg/materials"></div>
		</div>
	</div>
	<div class="row subways">
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
		<div class="col-md-1 subway"></div>
	</div>
	<div class="row description">
		<div class="col-md-6 col-md-offset-3 subway"></div>
	</div>
	<div class="row subdescription">
		<div class="col-md-6 col-md-offset-3 subway"></div>
	</div>
	<div class="row categories">
		<div class="col-md-6 col-md-offset-3 categories">
			<i class="fa fa-globe" tittle="Derechos Humanos"></i>
			<i class="fa fa-shopping-basket" tittle="Productos y Servicios"></i>
			<i class="fa fa-pagelines" tittle="Medio Ambiente"></i>
			<i class="fa fa-paint-brush" tittle="Arte y Cultura"></i>
			<i class="fa fa-transgender" tittle="Género"></i>
			<i class="fa fa-medkit" tittle="Salud"></i>
			<i class="fa fa-book" tittle="Educación"></i>
			<i class="fa fa-puzzle-piece" tittle="Talleres y Clases"></i>
			<i class="fa fa-users" tittle="Comunidad"></i>
			<i class="fa fa-cutlery" tittle="Alimentación"></i>
			<i class="fa fa-home" tittle="Vivienda"></i>
			<i class="fa fa-scissors" tittle="Vestido"></i>
			<i class="fa fa-bullhorn" tittle="Comunicación"></i>
			<i class="fa fa-cogs" tittle="Tecnología"></i>
			<i class="fa fa-bicycle" tittle="Transporte"></i>
		</div>
	</div>
	<div class="row offerNeed"></div>
	<div class="row results"></div>
</div>