<script src="js/howToCollaborate"></script>
<div class="fluid-container" id="collaborationPage">
	<div class="row" id="collaborationWays">
		<div>
			<h1>Maneras de Colaboración</h1>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="collaborationWay" id="colWay_Materials">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Materiales</div>
			</div>
			<div class="collaborationWay" id="colWay_KnowledgeAndSkills">
				<div class="circle"><img src="svg/conocimientos" class="icon"></div>
				<div class="colLabel">Conocimientos y Habilidades</div>
			</div>
			<div class="collaborationWay" id="colWay_EthicalConsumption">
				<div class="circle"><img src="svg/productos" class="icon"></div>
				<div class="colLabel">Consumo ético</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="collaborationWay" id="colWay_CollectiveFunding">
				<div class="circle"><img src="svg/fondos" class="icon"></div>
				<div class="colLabel">Fondeo Colectivo</div>
			</div>
			<div class="collaborationWay" id="colWay_Jobs">
				<div class="circle"><img src="svg/chambas" class="icon"></div>
				<div class="colLabel">Chambas</div>
			</div>
			<div class="collaborationWay" id="colWay_EventsAndActivities">
				<div class="circle"><img src="svg/eventos" class="icon"></div>
				<div class="colLabel">Eventos y Actividades</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="collaborationWay" id="colWay_Volunteering">
				<div class="circle"><img src="svg/voluntariado" class="icon"></div>
				<div class="colLabel">Voluntariado y Tequio</div>
			</div>
			<div class="collaborationWay" id="colWay_PromoteProjects">
				<div class="circle"><img src="svg/difundir" class="icon"></div>
				<div class="colLabel">Difusión de proyectos</div>
			</div>
			<div class="collaborationWay" id="colWay_Spaces">
				<div class="circle"><img src="svg/espacios" class="icon"></div>
				<div class="colLabel">Espacios</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6">
			<div class="collaborationWay" id="colWay_LinkAndRecomend">
				<div class="circle"><img src="svg/recomienda" class="icon"></div>
				<div class="colLabel">Recomienda y vincula</div>
			</div>
			<div class="collaborationWay" id="colWay_ShareYourArt">
				<div class="circle"><img src="svg/compArte" class="icon"></div>
				<div class="colLabel">Comparte tu arte</div>
			</div>
			<div class="collaborationWay" id="colWay_ProposeAWay">
				<div class="circle"><i class="fa fa-plus vcenter more" title=""></i></div>
				<div class="colLabel">Propón otra</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_Materials">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Oficina</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Alimentos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Construcción</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Medios Impreso</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Ropa Vestimenta</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Cuidado Personal</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Electrónico</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Reciclable</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Limpieza</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Herramienta</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_KnowledgeAndSkills">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Taller</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Plática Conferencia</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Cursos Clases</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Capacitación Entrenamiento</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Arte Diseño</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Asesoría</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Organización de Eventos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Traducción</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_EthicalConsumption">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Alimentos y Bebidas</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Agricultura</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Servicios Técnicos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Ropa Accesorios</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Cosas del Hogar</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Electrónicos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Cuidado Personal</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Construcción</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">MArketing Publicidad</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Distribución Transporte</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Administración Consultoría</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_Volunteering">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Por un día</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">De vez en cuando</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Constante</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_Spaces">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Galería</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Para Eventos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Bazar Mercado</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Aire Libre</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Clase Taller</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Centro de Acopio</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Punto de Venta</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Bodega</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_EventsAndActivities">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Mercado Bazar</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Convivencia</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Plática Conferencia</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_CollectiveFunding">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Monetario</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">En Especie</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Tiempo Habilidades</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_Jobs">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Educación</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Administración</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Arte y Diseño</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Comunicación</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Ventas</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Publicidad Marketing</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Agricultura</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Tecnología</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Salud</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Creativo</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Técnicos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Idiomas</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_PromoteProjects">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">En Línea</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Medios Impresos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Espacios Públicos</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Espacios Privados</div>
			</div>
		</div>		
	</div>
	<div class="row subWays" id="subWay_ShareYourArt">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Artes Visuales</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Artes Escénicas</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Artes Plásticas</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Música</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Literatura</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Web</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Moda</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Edición Editorial</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Edición Audiovisual</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Publicidad Cartel</div>
			</div>
		</div>
	</div>
	<div class="row subWays" id="subWay_LinkAndRecomend">
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Proponer Alianza</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Conozco Alguien que lo Necesita</div>
			</div>
		</div>
		<div class="col-md-1 col-sm-2">
			<div class="collaborationSubWay" id="colWay_">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Conozco Alguien que lo Ofrece</div>
			</div>
		</div>
	</div>

	<div class="row description">
		<div class="col-md-6 col-md-offset-3 subway"></div>
	</div>
	<div class="row subdescription">
		<div class="col-md-6 col-md-offset-3 subway"></div>
	</div>
	<div class="row categories">
		<div class="col-md-6 col-md-offset-3 categories">
			<i class="fa fa-globe" tittle="Derechos Humanos"></i>
			<i class="fa fa-shopping-basket" tittle="Productos y Servicios"></i>
			<i class="fa fa-pagelines" tittle="Medio Ambiente"></i>
			<i class="fa fa-paint-brush" tittle="Arte y Cultura"></i>
			<i class="fa fa-transgender-alt" tittle="Género"></i>
			<i class="fa fa-medkit" tittle="Salud"></i>
			<i class="fa fa-book" tittle="Educación"></i>
			<i class="fa fa-puzzle-piece" tittle="Talleres y Clases"></i>
			<i class="fa fa-users" tittle="Comunidad"></i>
			<i class="fa fa-cutlery" tittle="Alimentación"></i>
			<i class="fa fa-home" tittle="Vivienda"></i>
			<i class="fa fa-scissors" tittle="Vestido"></i>
			<i class="fa fa-bullhorn" tittle="Comunicación"></i>
			<i class="fa fa-cogs" tittle="Tecnología"></i>
			<i class="fa fa-bicycle" tittle="Transporte"></i>
		</div>
	</div>
	<div class="row offerNeed"></div>
	<div class="row results"></div>
</div>