<div class="fluid-container">
  <div id="home-row" class="row">
	</div><!--     /home-container       -->
	<div id="benefits-row" class="row animated fadeIn" > <!--     BENEFECIOS      -->
		<div class="col-md-4  projects">
			<h1 >Proyectos Sociales</h1>
			<div class="text-center"><img src="/svg/light" alt=""></div>
			<div class="small counter_benefits">Hay: <strong>30</strong> </div>
			<p>
				<li>Recursos cercanos</li>
				<li>Proyectos Similares</li>
				<li>Eventos</li>
				<li>Talleres y Clases</li>
				<li>Fondeo y Tequios</li>
				<li>Espacios y Material</li>
			</p>
			<div class="btn_registrate btn btn-default col-md-6 col-md-offset-3">
				REGíSTRATE
			</div>
		</div>
		<div class="col-md-4  business">
			<h1>Negocios Éticos</h1>
			<div class="text-center">
				<img src="/svg/business" alt="">
			</div>
			<div class="small counter_benefits">
				Encontraras: <strong>30</strong> 
			</div><p>
				<li>Puntos de venta</li>
				<li>Publicidad</li>
				<li>Distribución</li>
				<li>Productos Locales</li>
				<li>Compra y Venta</li>
				<li><br></li>
			</p>
			<div class="btn_registrate btn btn-default col-md-6 col-md-offset-3">REGíSTRATE
			</div>
		</div>
		<div class="col-md-4  individual">
			<h1>Personas</h1>
			<div class="text-center"><img src="/svg/individual" alt=""></div>
			<div class="small counter_benefits">Participan: <strong>30</strong> </div>
			<p>
				<li>Productos y Servicios éticos</li>
				<li>Gente con mismos intereses</li>
				<li>Clases y Talleres</li>
				<li>Colaboracíón con Proyectos</li>
				<li>Chambas</li>
				<li>Eventos cerca de mí</li>
			</p>
			<div class="btn_registrate btn btn-default col-md-6 col-md-offset-3">REGíSTRATE</div>
		</div>
	</div>
	<div id="colaborate-row" class="row">
		<div>
			<h2>¿Cómo colaborar?</h2>
		</div>
		<div class="col-md-3">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/materials" class="icon"></div>
				<div class="colLabel">Materiales</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/conocimientos" class="icon"></div>
				<div class="colLabel">Conocimientos y Habilidades</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/productos" class="icon"></div>
				<div class="colLabel">Productos y Servicios</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/fondos" class="icon"></div>
				<div class="colLabel">Fondeo Colectivo</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/chambas" class="icon"></div>
				<div class="colLabel">Chambas</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/eventos" class="icon"></div>
				<div class="colLabel">Eventos</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/voluntariado" class="icon"></div>
				<div class="colLabel">Tequio y 	Voluntariado</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/difundir" class="icon"></div>
				<div class="colLabel">Difundir proyectos</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/espacios" class="icon"></div>
				<div class="colLabel">Espacios</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/recomienda" class="icon"></div>
				<div class="colLabel">Recomienda y vincula</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><img src="svg/compArte" class="icon"></div>
				<div class="colLabel">Comparte tu arte</div>
			</div>
			<div class="collaborationWay">
				<div class="circle"><i class="fa fa-plus vcenter" title=""></i></div>
				<div class="colLabel">Propón otra</div>
			</div>
		</div>
	</div>
	<!--     /BENEFECIOS      -->
	<div id="categories-row" class="row"><!--     CATEGORIAS Y 40 MANERAS      -->
		<div>
			<h2>Categorías</h2>		
		</div>
		<div class="col-md-3">
			<div class="category">
				<div class="circle"><i class="fa fa-globe vcenter" title="Derechos Humanos"></i></div>
				<div class="catLabel">Derechos Humanos</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-shopping-basket vcenter" title="Productos y Servicios"></i></div>
				<div class="catLabel">Productos rvicios</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-pagelines vcenter" title="Medio Ambiente"></i></div>
				<div class="catLabel">Medio Ambiente</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-paint-brush vcenter" title="Arte y Cultura"></i></div>
				<div class="catLabel">Arte y Cultura</div>
			</div>	
		</div>
		<div class="col-md-3">
			<div class="category">
				<div class="circle"><i class="fa fa-transgender vcenter" title="Género"></i></div>
				<div class="catLabel">Género</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-medkit vcenter" title="Salud"></i></div>
				<div class="catLabel">Salud</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-book vcenter" title="Educación"></i></div>
				<div class="catLabel">Educación</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-puzzle-piece vcenter" title=""></i></div>
				<div class="catLabel">Talleres y Clases</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="category">
				<div class="circle"><i class="fa fa-users vcenter" title="Comunidad"></i></div>
				<div class="catLabel">Comunidad</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-cutlery vcenter" title="Alimentación"></i></div>
				<div class="catLabel">Alimentación</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-home vcenter" title="Vivienda"></i></div>
				<div class="catLabel">Vivienda</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-scissors vcenter" title="Vestido"></i></div>
				<div class="catLabel">Vestido</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="category">
				<div class="circle"><i class="fa fa-bullhorn vcenter" title="Comunicación"></i></div>
				<div class="catLabel">Comunicación</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-cogs vcenter" title="Tecnología"></i></div>
				<div class="catLabel">Tecnologíav</div>
			</div>
			<div class="category">
				<div class="circle"><i class="fa fa-bicycle vcenter" title="Transporte"></i></div>
				<div class="catLabel">Transoporte</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div> <!-- categories-row -->
	<div id="casos-row" class="row">
		<h1>Los más colaboradores</h1>	
		<div class="col-md-4">
			<div class="foto_project foto1"></div>
			<div class="texto_project text-justify">
				“Somos una "Colaborativa" que desea poner en su mesa un pan integral, nutritivo y delicioso. Queremos formar relaciones económicas fraternas, generando una red o comunidad en dónde podamos satisfacer la mayor parte de nuestras necesidades.”
				<div class="text-right sign">
					<span class="brand">PROYECTO1</span> · Semillas al pan
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="foto_project foto2"></div>
			<div class="texto_project text-justify">
				“Reúne diversas actividades socio-culturales al beneficio de la humanidad. Laboratorio que alberga proyectos creativos.”
				<div class="text-right sign">
					<span class="brand">PROYECTO2</span> · Cracovia 32
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="foto_project foto3"></div>
			<div class="texto_project text-justify">
				“Sebastián encontró un taller gratis de elaboración de pizza artesanal en su colonia.”
				<div class="text-right sign">
					<span class="brand">PROYECTO3</span> · Sebastián
				</div>
			</div>
		</div>
		<div class="col-md-4 col-md-offset-5 text-center project_options no_mobile">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle circle_active"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
	</div>
	<div id="we-row" class="row" >
		<h1>NOSOTROS</h1>
		<div class="col-md-6 text-justify">
			<p>
				Vientos es un proyecto independiente, sin fines de lucro y de código abierto que buscar crear una comunidad que impulse proyectos, negocios éticos e individuos trabajando por el bien común y la vida digna.  A través de saber quien ofrece y necesita qué y dónde la colaboración podrá darse más facilmente y todos ahorraremos dinero. Queremos impulsar conceptos como la sustentabilidad, la cultura en red, el desarrollo económico local y ético, lo comunitario, lo artesanal, la distribución equitativa de la riqueza y el cuidado al medio ambiente.  Existen proyectos y negocios dando pasos pequeños y otros grandes y el punto es que nos encontremos todos para ayudarnos unos a los otros y colaborar por el bien común. Ya tenemos todo lo que necesitamos, sólo faltaba encontrarnos.
			</p>
		</div>
		<div class="col-md-6 foto_we"></div>
		<div class="text-center frase">
			<h1> Juntos es más fácil</h1>
			<h1>Descubre oportunidades de colaboración en tu zona</h1>
		</div>
	</div> 
	<div id="map-row" class="row">
		<div id="map" class="map_footer text-center">
		    <img src="images/map" alt="">
		</div>
	</div> 
</div>