  <script src="js/index"></script>
<div class="fluid-container" id="index-page">
  <div id="home-row" class="row">
  	<img src="/img/VientosFondo.png" id="homeImage">
  	<div id="imageAction"></div>
    <!-- <div id="languageToggle">
      <input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="ES" data-off="EN" data-width="50" data-size="mini">
    </div> -->

	</div><!--     /home-container       -->

	<div id="categories-row" class="row circles-row"><!--     CATEGORIAS     -->
		<div>
			<div class="titles">
        <div id="title1">{{tags.together}}</div>
        <div id="separator" class="hidden-xs"></div>
        <div id="title2">{{tags.collaborating}}</div>
			</div>
		</div>
		{{#each categories}}
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="category" id="{{id}}">
				<div class="circle"><i class="fa {{icon}} vcenter" title="{{catTag}}"></i></div>
				<div class="catLabel">{{catTag}}</div>
			</div>
		</div>
		{{/each}}
    <div class="col-md-2 col-sm-4 col-xs-6" id="showMoreCatsBtn">
        <a href="#" class="btn btn-success">{{tags.showMore}}</a>
    </div>
    {{#each hiddenCats}}
		<div class="col-md-2 col-sm-4 col-xs-6 hidden">
			<div class="category" id="{{id}}">
				<div class="circle"><i class="fa {{icon}} vcenter" title="{{collTag}}"></i></div>
				<div class="catLabel">{{catTag}}</div>
			</div>
		</div>
		{{/each}}
	</div>
	<div id="collaborate-row" class="row circles-row">
    <div>
			<div class="titles">
        <div id="title1">{{tags.youCanCollaborate}}</div>
        <div id="separator" class="hidden-xs"></div>
        <div id="title2">{{tags.inLotsOfWays}}</div>
			</div>
		</div>
    {{#each collaborations}}
		<div class="col-md-2 col-sm-4 col-xs-6">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/{{icon}}" class="icon"></div>
				<div class="colLabel">{{collTag}}</div>
			</div>
    </div>
    {{/each}}
    <div class="col-md-2 col-sm-4 col-xs-6" id="showMoreCollsBtn">
        <a href="#" class="btn btn-success">{{tags.showMore}}</a>
    </div>
    {{#each hiddenColls}}
		<div class="col-md-2 col-sm-4 col-xs-6 hidden">
			<div class="collaborationWay">
				<div class="circle"><img src="svg/{{icon}}" class="icon"></div>
				<div class="colLabel">{{collTag}}</div>
			</div>
    </div>
    {{/each}}
	</div>
	<div id="benefits-row" class="row animated fadeIn" > <!--     BENEFECIOS      -->
		<div class="col-md-4 benefit" id="projects">
			<h1>{{tags.socialProjects}}</h1>
			<div class="points">
        {{#each tags.socialProjectsBullets}}
        <div><i class="fa fa-circle"></i>{{this}}</div>
        {{/each}}
			</div>
			<div class="tx-al-c btn_registrate">
        <a class="btn btn-default">
				{{tags.register}}
        </a>
			</div>
		</div>
		<div class="col-md-4 benefit" id="business">
			<h1>{{tags.solidarityEconomy}}</h1>
			<div class="points">
        {{#each tags.solidarityEconomyBullets}}
        <div><i class="fa fa-circle"></i>{{this}}</div>
        {{/each}}
			</div>
			<div class="tx-al-c btn_registrate">
        <a class="btn btn-default">{{tags.register}}</a>
			</div>
		</div>
		<div class="col-md-4 benefit" id="individual">
			<h1>{{tags.individuals}}</h1>
			<div class="points">
        {{#each tags.individualsBullets}}
        <div><i class="fa fa-circle"></i>{{this}}</div>
        {{/each}}
			</div>
			<div class="tx-al-c btn_registrate">
        <a class="btn btn-default">{{tags.register}}</a>
      </div>
		</div>
	</div>
	<!--     /BENEFECIOS      -->
	<div id="casos-row" class="row">
		<h1>{{topCollaborators}}</h1>
		<div class="col-md-4">
			<div class="projectLogo_circle foto1"></div>
			<div class="projectDesc">
        <div class="projectTitle">
					Colectivo · Semillas al pan
				</div>
        <div class="projectText">
  				“Queremos formar relaciones económicas fraternas, generando una red o comunidad en dónde podamos satisfacer la mayor parte de nuestras necesidades.”
        </div>
			</div>
		</div>
		<div class="col-md-4">
      <div class="projectLogo_circle foto2"></div>
			<div class="projectDesc">
        <div class="projectTitle">
					Cooperativa · Crater Invertido
				</div>
        <div class="projectText">
          A través del estudio y acción en torno a imaginario colectivo, autoformación, producción editorial crítica y circulación comunitaria de publicaciones buscamos construir redes de cooperación.
        </div>
      </div>
		</div>
		<div class="col-md-4">
      <div class="projectLogo_circle foto3"></div>
			<div class="projectDesc">
        <div class="projectTitle">
					<span class="type">Organización Vecinal</span> · Santa María
				</div>
  			<div class="projectText">
          Los vecinos de la colonia Santa María abrimos y organizamos un espacio comunitario de truque, talleres y acopio de saberes.
        </div>
      </div>
		</div>
	</div>
	<div id="us-row" class="row" >
		<h1>{{tags.aboutUs}}</h1>
		<div class="col-lg-6 col-md-6" id="usText">
			{{#each tags.aboutUsTexts}}
      <p>{{this}}
      {{/each}}
    </div>
    <div class="col-lg-6 col-md-6">
      <div id="principlesText">{{tags.principlesTitle}}</div>
			<div class="row" id="principles">
        {{#each principles}}
				<div class="col-md-{{size}} col-sm-6 ">
					<i class="fa fa-asterisk"></i>{{tag}}
				</div>
        {{/each}}
			</div>
		</div>
	</div>
	<div id="map-row" class="row">
		<div id="map" class="map_footer text-center">
		    <img src="svg/map4" alt="">
		</div>
	</div>
</div>
