<section id="cargando" class="container-fluid w-100-v h-100-v color-amarillo-bg z2k absUpL">

   <div class="wh-100 v-center">

      <div class="contenedor w-a h-30-v">

         <div class="imagen imagen-girando imgLiquid imgLiquidNoFill text-center">
            <img src="/img/logotipo-300w-2x.png" alt="">
         </div>

      </div>

   </div>

</section>

<main id="contenedor-principal" class="container-fluid h-a p-l-0 p-r-0">

   <section id="portada" class="container-fluid p-3 p-t-1 h-60-v h-80-sm-v text-center rel">

      <!-- <div id="portada-fondo-chico"  class="visible-xs visible-sm imagen wh-100 imgLiquid imgLiquidFill absUpL">
      <img
      data-src="/img/fondo-350w-2x.png" alt=""
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      class="b-lazy"
      />
   </div>

   <div id="portada-fondo-grande"  class="hidden-xs hidden-sm imagen wh-100 imgLiquid imgLiquidFill absUpL">
   <img
   data-src="/img/fondo-1200w.png" alt=""
   src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
   class="b-lazy"
   />
</div>
-->
<div id="portada-fondo"  class="imagen wh-100 imgLiquid imgLiquidFill absUpL">

<img
data-src="/img/fondo-1200w.png" alt=""
src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
class="b-lazy"
/>

</div>


<div id="portada-contenedor" class="wh-100 absUpL z1 v-center ">

<div id="portada-logotipo" class="col-sm-6 col-md-4 col-lg-2 col-sm-offset-3 col-md-offset-4 col-lg-offset-5 h-a text-center">
   <div class="imagen imgLiquid imgLiquidNoFill h-20-v h-25-sm-v m-t-1">

      <img
      data-src="/img/logotipo-300w-2x.png" alt=""
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      class="b-lazy"
      >

   </div>
   <div class="p-0 color-primario h-10-v txsh">
      <h1>Vientos</h1>
   </div>
   <div class="p-0 h-10-v">
      <button class="color-primario-bg color-white btn">
         Plataforma de Colaboración
      </button>
   </div>
</div>
</div>

</section>


<section id="inicio-actores" class="container-fluid h-30-v h-40-sm-v p0 color-secundario-bg color-white">
   <div id="inicio-actores-iconos" class="h-55-sm h-50-md text-center rel">
      <div class="actor col-xs-4 text-center color-terciario-bg p-l-0 p-r-0">
         <div class="col-md-4 col-lg-3 col-lg-offset-2 h-50-sm h-100-md v-center p-b-0-2 p-t-1">
            <i class="font-xxl fa fa-user"></i>
         </div>
         <div class="col-md-8 col-lg-5 h-50-sm h-100-md v-center text-xs-center text-lg-left font-xs-s p-l-1 p-r-1 p-t-0 font-sm-m font-md-l font-lg-xl v-center">
            <div class="h-a">
               Proyectos Sociales
            </div>
         </div>
      </div>
      <div class="actor col-xs-4 text-center color-primario-bg p-l-0 p-r-0">
         <div class="col-md-4 col-lg-3 col-lg-offset-2 h-50-sm h-100-md v-center p-b-0-2 p-t-1">
            <i class="font-xxl fa fa-user"></i>
         </div>
         <div class="col-md-8 col-lg-5 h-50-sm h-100-md v-center text-xs-center text-lg-left font-xs-s p-l-1 p-r-1 p-t-0 font-sm-m font-md-l font-lg-xl v-center">
            <div class="h-a">
               Personas
            </div>
         </div>
      </div>
      <div class="actor col-xs-4 text-center color-primario_b-bg p-l-0 p-r-0">
         <div class="col-md-4 col-lg-3 col-lg-offset-2 h-50-sm h-100-md v-center p-b-0-2 p-t-1">
            <i class="font-xxl fa fa-user"></i>
         </div>
         <div class="col-md-8 col-lg-5 h-50-sm h-100-md v-center text-xs-center text-lg-left font-xs-s p-l-1 p-r-1 p-t-0 font-sm-m font-md-l font-lg-xl v-center">
            <div class="h-a">
               Economía Solidaria
            </div>
         </div>
      </div>
   </div>
   <div class="h-45-sm h-50-md text-center white v-center color-amarillo-bg">
      <div class="h-a font-xs-l font-md-xxl font-lg-xxl color-naranja">
         Colaborando en:
      </div>
   </div>
</section>


<section id="inicio-categorias" class="container-fluid h-90-v rel">
   <div id="inicio-categorias-fondo" class="imagen w-100 h-100 absUpL z1">
      <img
      data-src="/img/mapa-750w-2x.png" alt=""
      src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      class="b-lazy"
      >
   </div>
   <div class="cortina-clara z1"></div>
   <div class="listado wh-100 absUpL z1  p-l-3-sm p-r-3-sm v-center">
      <div class="container col-xs-12 h-a">
         <div id="categoria-id" class="category categoria col-xs-4 col-md-3 col-lg-2 h-15-sm-v h-20-md-v h-25-lg-v text-center tarjeta">
            <div class="circle w-80-sm w-35-md w-30-lg squareH v-center text-center">
               <i class="fa fa-map-marker color-white font-xs-m font-sm-l font-md-xl font-lg-xxl" title=""></i>
            </div>
            <div class="catLabel text-center font-xs-s font-sm-m font-md-l font-lg-xl m-t-sm-0-2 hidden">
            </div>
         </div>
      </div>
   </div>
</section>


<section id="inicio-colaboracion-invitacion" class="container-fluid h-sm-a h-80-md-v  p-t-1 h-a text-center rel  color-neutral_claro-bg">
   <div class="columns h-30 v-center">
      <h2 class="font-xxl font-l-sm">Puedes colaborar de muchas maneras:</h2>
   </div>
   <div id="inicio-colaboracion-palabras" class="hex-grid h-70 rel p-b-sm-2 m-b-sm-2 m-t-3 p-b-2">
      <div class="palabra-colaboracion-contenedor text-center col-xs-6 col-sm-4 col-md-3 col-lg-2 h-10-v p-t-md-1-2  p-t-xs-1 font-xs-xs font-md-m-s font-lg-m-l color-white lh1 hidden">
         <div class="palabra-colaboracion col-xs-12 h-a"></div>
      </div>
   </div>
</section>

<section id="inicio-nosotros" class="container-fluid  h-a p-2 p-1-sm color-secundario-bg color-white p-sm-1 p-md-3 p-lg-4 p-1-sm">
   <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 h-a">
      <div class="titulo h-a">
         <h1 class="font-xs-l">Nosotros</h1>
      </div>
      <div class="texto h-xs-a h-md-90">
         <p>
            Vientos es una plataforma de fortalecimiento de proyectos sociales y de la economía solidaria mediante la colaboración entre ellos y con su comunidad.
         </p>
         <p>
            Somos una cooperativa independiente que trabaja bajo los principios de código libre y tecnología cívica.
         </p>
         <p>
            Los criterios que definen qué tan ético es un proyecto o negocio son votados por todos los usuarios de la página.
         </p>
      </div>
   </div>
</section>

<section id="inicio-lista_correos" class="container-fluid h-a p-0">
   <div class="col-md-6 h-60-sm-v h-50-md-v v-center p-2 color-naranja-bg color-white">
      <h2 class="text-center">Suscríbete:</h2>
      <div class="texto h-a m-t-0-2 p-1 p-xs-1">
         <p>
            <b>Vientos</b> está actualmente en fase de pruebas con un grupo reducido de usuarios (fase <b>alpha</b>).
         </p>
         <p>
            <b>Suscríbete</b> a nuestra lista de correos y sé de los primeros en participar en Vientos:
         </p>
      </div>
   </div>
   <div class="col-md-6 h-60-sm-v h-50-md-v v-center p-2 color-amarillo-bg color-black text-center">
      <form class="h-100 v-center" action="">
         <div class="col-xs-12 h-a m-b-1">
            <div class="col-xs-12 h-a">
               <label for="lista_correos-nombre">
                  Nombre
               </label>
            </div>
            <div class="col-xs-12 h-a">
               <input type="text" id="lista_correos-nombre" name="lista_correos-nombre">
            </div>
         </div>
         <div class="col-xs-12 h-a m-b-1">
            <div class="col-xs-12 h-a">
               <label for="lista_correos-email">
                  E-mail
               </label>
            </div>
            <div class="col-xs-12 h-a">
               <input type="email" id="lista_correos-email" name="lista_correos-email">
            </div>
         </div>
         <div class="col-xs-12 h-a">
            <input type="submit" value="Suscribirme" class="button p-1 m-t-1 color-primario_b-bg color-white color-primario_a-bd color-terciario-hover-bg">
         </div>
      </form>
   </div>
</section>

<section id="inicio-actores-desglose" class="container-fluid font-xs-s font-md-m p-0">
   <div class="inicio-actores-desglose-elemento col-md-4 h-sm-a h-50-md-v p-xs-2 p-md-3 p-lg-5 v-center text-center color-terciario-bg color-white">
      <h3>Proyectos Sociales</h3>
      <ul>
         <li class="text-left p-1"><i class="fa fa-circle p-l-1 p-r-1"></i>Difunde tu proyecto y actividades</li>
         <li class="text-left p-1"><i class="fa fa-circle p-l-1 p-r-1"></i>Agrega tu proyecto al mapa</li>
         <li class="text-left p-1"><i class="fa fa-circle p-l-1 p-r-1"></i>Recursos compartidos en tu zona</li>
      </ul>
   </div>

   <div class="inicio-actores-desglose-elemento col-md-4 h-sm-a h-50-md-v p-xs-2 p-md-3 p-lg-5 v-center text-center color-secundario-bg color-white">
      <h3>Economía Solidaria</h3>
      <ul>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Red de Comercio justo
            </div>
         </li>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Compra, venta y trueque
            </div>
         </li>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Servicios de tu comunidad
            </div>
         </li>
      </ul>
   </div>

   <div class="inicio-actores-desglose-elemento col-md-4 h-sm-a h-50-md-v p-xs-2 p-md-3 p-lg-5 v-center text-center color-primario-bg color-white">
      <h3>Personas</h3>
      <ul>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Tus intereses. Tus habilidades
            </div>
         </li>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Chambas y voluntariado
            </div>
         </li>
         <li class="text-left p-1">
            <div class="col-xs-2">
               <i class="fa fa-circle p-l-1 p-r-1"></i>
            </div>
            <div class="col-xs-10">
               Eventos, clases y talleres
            </div>
         </li>
      </ul>
   </div>
</section>
<section id="inicio-valores" class="col-md-6 h-60-v h-70-sm-v p-2 p-1-2-sm v-center">
   <div class="col-xs-12 h-a p-sm-1 p-md-0-2">
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Distribución de la Riqueza
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Cuidado del Medio Ambiente
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Producción Local y Artesanal
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Trabajo digno
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Sustentabilidad
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Cultura en Red
      </li>
      <li class="btn h-a w-a f-l p-0-2 m-0-1 color-secundario-bg color-white">
         Apoyo mutuo
      </li>
   </div>
</section>
</main>
