<h1>Maneras de colaborar con proyectos:</h1> 
<div style="margin: 50px; background-color: white; ">
	<div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/person" class="icon">Material </div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/group" class="icon">Conocimiento / Habilidades </div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/ngo" class="icon">Producto / Servicio</div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/shop" class="icon">Voluntariado</div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/shop" class="icon">Espacio</div>
	</div>
	<div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/web" class="icon">Fondeo Colectivo</div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/event" class="icon">Trabajo</div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/" class="icon">Eventos</div>
		<div class="collaborationType"><input type="checkbok"><img src="svg/" class="icon">Difusión</div>
	</div>
	<div>
		<span>Palabras clave</span><input name="keyword" type="text"> 
	</div>
	<div>
		<div id="needs">
		</div>
		<div id="map">
		</div>
	</div>	
</div>

