<script src="js/prueba"></script>

<div id="sideMenu">
	<div id="title"><img src="/img/vientos_logo_verdeazul.png"></div>
	<div><a href="#registerPopUp">Únete</a></div>
	<div><a href="#loginPopUp">Ingresa</a></div>
	<div class="sideMenuTab"><a href="#secIntro">Home</a></div>
    <div class="sideMenuTab"><a href="#secWhat">¿Qué puedo hacer aquí?</a></div>	
    <div class="sideMenuTab"><a href="#secUs">Nosotr@s</a></div>
    <div class="sideMenuTab"><a href="#secMap">Mapa</a></div>
</div>
<div id="joinBtn">
	<div id="joinTag">Únete</div>
</div>

<div id="content">
	<div id="secIntro">
		<div id="introText">
			Lorem ipsum dolor sit amet, qui ei soluta consetetur disputationi. Platonem euripidis ne sea. Eu eum error admodum, no ferri percipitur repudiandae ius. Ex nam atqui adivquid pertinacia. Pro te meis persius, dicant quidam ad per, ex vel facidivsi pertinacia.
		</div>
	</div>
	<div id="secWhat">
		<div id="whatTitle">
			¿Qué pueden hacer aquí...?
		</div>
		<div id="circlesContainer">
			<div class="circle" id="individualCircle">
				<div class="circleTitle">Individuos</div>
				<div class="circleKeyWords">
					<div id="individualNeedsKeyWord" class="keyWord">Necesidades</div>
					<div id="individualFreeTimeKeyWord" class="keyWord">Tiempo libre</div>
					<div id="individualLearnAndTeachKeyWord" class="keyWord">Enseña y Aprende</div>
					<div id="individualInterestsKeyWord" class="keyWord">Mismos Intereses</div>
					<div>
						
					</div>
				</div>
			</div>
			<div class="circle" id="whatCanIDoCircle">
				<div class="circleKeyWords">
					<div class="circleTitle">&nbsp;</div>
					<div id="contributeWithIdeasKeyWord" class="keyWord">Ideas</div>
					<div id="contributeWithResourcesKeyWord" class="keyWord">Recursos</div>
					<div id="contributeWithKnowledgeKeyWord" class="keyWord">Conocimientos</div>
					<div id="contributeWithSkillKeyWord" class="keyWord">Habilidades</div>
					<div id="contributeWithSpaceKeyWord" class="keyWord">Espacios</div>
					<div id="contributeWithTimeKeyWord" class="keyWord">Tiempo</div>
					<div class="circleTitle" id="collaborationTitle">Maneras de Colaboración</div>
				</div>
			</div>
			<div class="circle" id="projectCircle">
				<div class="circleTitle">Proyectos</div>
				<div class="circleKeyWords">
					<div id="projectFundingKeyWord" class="keyWord">Fondeo</div>
					<div id="projectEventKeyWord" class="keyWord">Eventos</div>
					<div id="projectVisibilityKeyWord" class="keyWord">Visibidivdad</div>
					<div id="projectWorkshopKeyWord" class="keyWord">Talleres</div>
					<div id="projectGroupWorkKeyWord" class="keyWord">Tequio</div>
				</div>
			</div>
		</div>
		<div id="detailsContainer">
			<div id="individualNeedsDetails" class="keywordDetails">
				Encuentra proyectos dónde puedas satisfacer necesidades como: alimentación, vestido, salud, educación, vivienda, cuidado personal, eventos, clases, talleres, entretenimiento, arte, cultura, herramientas, espacios 
			</div>
			<div id="individualFreeTimeDetails" class="keywordDetails"> 
			</div>
			<div id="individualLearnAndTeachDetails" class="keywordDetails"> 
			</div>
			<div id="individualInterestsDetails" class="keywordDetails"> 
			</div>
			<div id="contributeWithIdeasDetails" class="keywordDetails">
			</div>
			<div id="contributeWithResourcesDetails" class="keywordDetails">
			</div>
			<div id="contributeWithKnowledgeDetails" class="keywordDetails">
			</div>
			<div id="contributeWithSkillDetails" class="keywordDetails">
			</div>
			<div id="contributeWithSpaceDetails" class="keywordDetails">
			</div>
			<div id="contributeWithTimeDetails" class="keywordDetails">
			</div>
			<div id="projectFundingDetails" class="keywordDetails">
			</div>
			<div id="projectEventDetails" class="keywordDetails">
			</div>
			<div id="projectVisibilityDetails" class="keywordDetails">
			</div>
			<div id="projectWorkshopDetails" class="keywordDetails">
			</div>
			<div id="projectGroupWorkDetails" class="keywordDetails">
			</div>
		</div>
	</div>
	<div id="secUs">
		<div id="usText">
			<i class="fa fa-camera-retro fa-lg"></i> Lorem ipsum dolor sit amet, qui ei soluta consetetur disputationi. Platonem euripidis ne sea. Eu eum error admodum, no ferri percipitur repudiandae ius. Ex nam atqui adivquid pertinacia. Pro te meis persius, dicant quidam ad per, ex vel facidivsi pertinacia.
		</div>
	</div>
	<div id="secMap">
		<div id="categoriesSection">
			<div class="allBtn"><span>Todos</span></div>
			<div class="categoryBtn"><span>Salud</span></div>
			<div class="categoryBtn"><span>Educación</span></div>
			<div class="categoryBtn"><span>Agua</span></div>
			<div class="categoryBtn"><span>Alimentación</span></div>
			<div class="categoryBtn"><span>Vivienda</span></div>
			<div class="categoryBtn"><span>Ropa</span></div>
			<div class="categoryBtn"><span>Arte y Cultura</span></div>
			<div class="categoryBtn"><span>Productos y Servicios</span></div>
			<div class="categoryBtn"><span>Clases y Talleres</span></div>
			<div class="categoryBtn"><span>Comunidad</span></div>
			<div class="categoryBtn"><span>Comunicación</span></div>
			<div class="categoryBtn"><span>Derechos Humanos</span></div>
			<div class="categoryBtn"><span>Economía</span></div>
			<div class="categoryBtn"><span>Medio Ambiente</span></div>
			<div class="categoryBtn"><span>Tecnología</span></div>
			<div class="categoryBtn"><span>Transporte</span></div>
			<div class="categoryBtn"><span>Género</span></div>
		</div>
		<div id="mapSection">
			<div id="map"></div>
		</div>
	</div>
</div>
<div id="registerPopUp" class="overlay">
	<div class="popup">
		<a class="close" href="#close">X</a>
		<form id="registerForm">
			<div>Nombre del proyecto</div>
			<div><input name="name" /></div>
			<div>Email</div>
			<div><input name="email" /></div>
			<div>Contraseña</div>
			<div><input name="password"></div>
			<div>Confirma Contraseña</div>
			<div><input name="password2"></div>
		</form>
		<div class="popupBtn" onclick="onRegisterBtnClicked()">Regístrame</div>
	</div>
</div>
<div id="loginPopUp" class="overlay">
	<div class="popup">
		<a class="close" href="#close">X</a>
		<form id="loginForm">
			<span>Email</span><input name="email" />
			<span>Password</span><input name="password">
		</form>
		<div class="popupBtn">Ingresa</div>
	</div>
</div>

