<script src="js/prueba"></script>

<div id="sideMenu">
	<div id="title"><img src="/img/vientos_logo_verdeazul.png"></div>
	<div class="sideMenuTab"><a href="#secIntro">Home</a></div>
    <div class="sideMenuTab"><a href="#secWhat">¿Qué puedo hacer aquí?</a></div>	
    <div class="sideMenuTab"><a href="#secUs">Nosotrxs</a></div>
    <div class="sideMenuTab"><a href="#secMap">Mapa</a></div>
</div>
<div id="joinBtn">
	<div id="joinTag">Únete</div>
</div>

<div id="content">
	<div id="secIntro">
		<div id="introText">
			Lorem ipsum dolor sit amet, qui ei soluta consetetur disputationi. Platonem euripidis ne sea. Eu eum error admodum, no ferri percipitur repudiandae ius. Ex nam atqui adivquid pertinacia. Pro te meis persius, dicant quidam ad per, ex vel facidivsi pertinacia.
		</div>
	</div>
	<div id="secWhat">
		<div id="WhatTitle">
			¿Qué puedo hacer aquí...?
		</div>
		<div id="circlesContainer">
			<div class="circle" id="individualCircle">
				<div class="circleTitle">Como Individuo</div>
				<div class="circleKeyWords">
					<div id="individualNeedsKeyWord" class="keyWord">Necesidades</div>
					<div id="individualFreeTimeKeyWord" class="keyWord">Tiempo libre</div>
					<div id="individualLearnAndTeachKeyWord" class="keyWord">Enseña y Aprende</div>
					<div id="individualInterestsKeyWord" class="keyWord">Mismos Intereses</div>
				</div>
			</div>
			<div class="circle" id="whatCanIDoCircle">
				<div class="circleTitle">¿Cómo puedo colaborar?</div>
				<div class="circleKeyWords">
					<div id="contributeWithIdeasKeyWord" class="keyWord">Ideas</div>
					<div id="contributeWithResourcesKeyWord" class="keyWord">Recursos</div>
					<div id="contributeWithKnowledgeKeyWord" class="keyWord">Conocimientos</div>
					<div id="contributeWithSkillKeyWord" class="keyWord">Habilidades</div>
					<div id="contributeWithSpaceKeyWord" class="keyWord">Espacios</div>
					<div id="contributeWithTimeKeyWord" class="keyWord">Tiempo</div>
				</div>
			</div>
			<div class="circle" id="projectCircle">
				<div class="circleTitle">Como Proyecto</div>
				<div class="circleKeyWords">
					<div id="projectFundingKeyWord" class="keyWord">Fondeo</div>
					<div id="projectEventKeyWord" class="keyWord">Eventos</div>
					<div id="projectVisibilityKeyWord" class="keyWord">Visibidivdad</div>
					<div id="projectWorkshopKeyWord" class="keyWord">Talleres</div>
					<div id="projectGroupWorkKeyWord" class="keyWord">Tequio</div>
				</div>
			</div>
		</div>
		<div id="detailsContainer">
			<div id="individualNeedsDetails" class="keywordDetails">Necesidades</div>
			<div id="individualFreeTimeDetails" class="keywordDetails">Tiempo libre</div>
			<div id="individualLearnAndTeachDetails" class="keywordDetails">Enseña y Aprende</div>
			<div id="individualInterestsDetails" class="keywordDetails">Mismos Intereses</div>
			<div id="contributeWithIdeasDetails" class="keywordDetails">Ideas</div>
			<div id="contributeWithResourcesDetails" class="keywordDetails">Recursos</div>
			<div id="contributeWithKnowledgeDetails" class="keywordDetails">Conocimientos</div>
			<div id="contributeWithSkillDetails" class="keywordDetails">Habilidades</div>
			<div id="contributeWithSpaceDetails" class="keywordDetails">Espacios</div>
			<div id="contributeWithTimeDetails" class="keywordDetails">Tiempo</div>
			<div id="projectFundingDetails" class="keywordDetails">Fondeo</div>
			<div id="projectEventDetails" class="keywordDetails">Eventos</div>
			<div id="projectVisibilityDetails" class="keywordDetails">Visibidivdad</div>
			<div id="projectWorkshopDetails" class="keywordDetails">Talleres</div>
			<div id="projectGroupWorkDetails" class="keywordDetails">Tequio</div>
		</div>
	</div>
	<div id="secUs">
		<div id="usText">
			Lorem ipsum dolor sit amet, qui ei soluta consetetur disputationi. Platonem euripidis ne sea. Eu eum error admodum, no ferri percipitur repudiandae ius. Ex nam atqui adivquid pertinacia. Pro te meis persius, dicant quidam ad per, ex vel facidivsi pertinacia.
		</div>
	</div>
	<div id="secMap"></div>
</div>
