<script src="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
<script src="js/register"></script>
<div class="fluid-container" id="registerPage">
	<div class="row">
		<div><h1>Registro</h1></div>
	</div>
	<div class="row">
		<div id="registerContainer">
			<form class="form-horizontal" id="registerForm">
			  <div class="form-group">
			    <label for="inputName" class="col-sm-2 control-label">Nombre</label>
			    <div class="col-sm-9">
			      <input class="form-control" id="inputName" placeholder="Nombre del proyecto" name="name">
			    </div>
			  </div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Descripción:</label>
					<div class="col-sm-9">
						<textarea class="form-control" id="" name="description" placeholder="Descripción" name="description"></textarea>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Logo:</label>
	        <input type="file" name="file" id="pictureFileInput">
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Categoria:</label>
					<div class="col-sm-9" id="categories">
						<div class="row" id="categoriesSec">
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected" id="56281547b82163c71dea5fa0"><i class="fa fa-globe fa-2x"></i>Derechos Humanos</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="56281497b82163c71dea5f9e"><i class="fa fa-shopping-basket fa-2x"></i>Productos y Servicios</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="5628158bb82163c71dea5fa2"><i class="fa fa-pagelines fa-2x"></i>Medio Ambiente</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="5628145fb82163c71dea5f9d"><i class="fa fa-paint-brush fa-2x"></i>Arte y Cultura</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected" id="5660de8ca17bb1a413dd1add"><i class="fa fa-transgender-alt fa-2x"></i>Género</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="55663309a660da482b648a33"><i class="fa fa-medkit fa-2x"></i>Salud</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="556644179cfb86a021e5a150"><i class="fa fa-book fa-2x"></i>Educación</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="5776bfeaa6d9d136619e9b87"><i class="fa fa-puzzle-piece fa-2x"></i>Talleres y Clases</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="559e910a46343c3bccee7fbe"><i class="fa fa-users fa-2x"></i>Comunidad</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected" id="559e90f046343c3bccee7fbd"><i class="fa fa-cutlery fa-2x"></i>Comida</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="566327d38bf85d71b6c069c1"><i class="fa fa-home fa-2x"></i>Vivienda</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="566353d1c3671ef030500668"><i class="fa fa-scissors fa-2x"></i>Vestido</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="562814bbb82163c71dea5f9f"><i class="fa fa-bullhorn fa-2x"></i>Comunicación</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="562815b2b82163c71dea5fa3"><i class="fa fa-cogs fa-2x"></i>Tecnología</div>
							<div class="col-md-2 col-sm-4 col-xs-6 category vcenter" id="562815bfb82163c71dea5fa4"><i class="fa fa-bicycle fa-2x"></i>Transporte</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Tipo de Proyecto:</label>
					<div class="col-sm-9">
						<select class="form-control" id="projectType">
							<option value="collective">Colectivo</option>
							<option value="cooperative">Cooperativa</option>
							<option value="ngo">ONG</option>
							<option value="ethicalbusiness">Negocio Ético</option>
							<option value="neighborsorg">Organización vecinal</option>
							<option value="startup">Startup</option>
							<option value="ontransition">En transición</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Página web:</label>
					<div class="col-sm-9">
						<input class="form-control" name="webpage" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Twitter:</label>
					<div class="col-sm-9">
						<input class="form-control" name="twitter" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Facebook:</label>
					<div class="col-sm-9">
						<input class="form-control" name="facebook" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Email:</label>
					<div class="col-sm-9">
						<input class="form-control" name="email" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Telefono:</label>
					<div class="col-sm-9">
						<input class="form-control" name="phone" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Dirección:</label>
					<div class="col-sm-9">
						<input class="form-control" name="address" type="text"/>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Ofrece</label>
					<div class="col-sm-9">
						<div>
							<input class="form-control" type="text" id="newOfferInput"/>
							<div class="btn btn-default" id="addOfferBtn" onclick="addOffer()">+</div>
						</div>
						<div id="offers"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="" class="col-sm-2 control-label">Necesita</label>
					<div class="col-sm-9">
						<div>
							<input class="form-control" type="text" id="newNeedInput" />
							<div class="btn btn-default" id="addNeedBtn" onclick="addNeed()">+</div>
						</div>
						<div id="needs"></div>
					</div>					
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Ubicación</label>
					<div class="col-sm-9"><div id="map"></div></div>
				</div>
				<div>
					<input type="hidden" id="hdnInputLat" name="latitude"/>
					<input type="hidden" id="hdnInputLng" name="longitude"/>
				</div>
				<div class="col-sm-4 col-sm-offset-2"><input id="registerBtn" class="btn btn-success" onclick="onRegisterBtnClicked()" value="Registrar" /></div>
			</form>
		</div>
	</div>
</div>