<script src="js/register"></script>

<h1>Register</h1>
<form id="registerForm">
<div>Name:<input name="name" type="text"/></div>
<div>Description:<textarea name="description"></textarea></div>
<div>Categoria:</div>
<div>
	<input type="checkbox" name="categories" value="55663309a660da482b648a33"> Salud<br>
	<div>
		<input type="checkbox" name="subcategories" value="559e946b46343c3bccee7fbf"> Medicina Alternativa
		<input type="checkbox" name="subcategories" value="559e949846343c3bccee7fc0"> Prevención
		<input type="checkbox" name="subcategories" value="559e94c246343c3bccee7fc1"> Medicina Tradicional
	</div>
  	<input type="checkbox" name="categories" value="556644179cfb86a021e5a150"> Educación<br>
	<div>
		<input type="checkbox" name="subcategories" value="559e94ec46343c3bccee7fc2"> Educación alternativa
		<input type="checkbox" name="subcategories" value="559e950046343c3bccee7fc3"> Educación en casa
		<input type="checkbox" name="subcategories" value="559e950d46343c3bccee7fc4"> Educación Online
	</div>
  	<input type="checkbox" name="categories" value="559e90cd46343c3bccee7fbc"> Agua<br>
	<div>
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fc5"> Recolección de Agua<br>
		<input type="checkbox" name="subcategories" value="559e971a46343c3bccee7fcb"> Purificación del Agua<br>
		<input type="checkbox" name="subcategories" value="559e95c046343c3bccee7fcc"> Defensa del Agua<br>
	</div>
  	<input type="checkbox" name="categories" value="559e90f046343c3bccee7fbd"> Alimentación<br>
	<div>
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fc6"> Alimentación Consciente
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fc7"> Producción Autónoma
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fc8"> Productos Sustenatables
	</div>
  	<input type="checkbox" name="categories" value="559e910a46343c3bccee7fbe"> Sociedad<br>
	<div>
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fc9"> Organización Colectiva<br>
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fca"> Productos Locales<br>
		<input type="checkbox" name="subcategories" value="559e953746343c3bccee7fcb"> Autonomía<br>
	</div>
</div>
<div>Página web:<input name="webpage" type="text"/></div>
<div>Twitter:<input name="twitter" type="text"/></div>
<div>Facebook:<input name="facebook" type="text"/></div>
</form>
<button id="registerBtn" onclick="onRegisterBtnClicked()">Registrar</button>
