<script src="js/search"></script>

<h1>Search</h1>

<div>
	{{#categories}}
        <p>{{name}}</p>
    {{/categories}}
</div>

<div class="searchSection">
	<span>Tipo:</span> 
	<div>
		<div class="projectType"><img src="svg/person" class="icon">Proyecto </div>
		<div class="projectType"><img src="svg/group" class="icon">Proyecto </div>
		<div class="projectType"><img src="svg/ngo" class="icon">Organizacion</div>
		<div class="projectType"><img src="svg/shop" class="icon"></div>
		<div class="projectType"><img src="svg/web" class="icon">Página Web</div>
		<div class="projectType"><img src="svg/event" class="icon"></div>
		<div class="projectType"><img src="svg/" class="icon"></div>
	</div>
</div>
<div>
<table>

</table>
</div>
<div class="searchSection">
	<div>Categoria:</span> 
	<div>
		<div class="projectType"><img src="svg/agriculture" class="icon"></div>
		<div class="projectType"><img src="svg/art" class="icon"></div>
		<div class="projectType"><img src="svg/atom" class="icon"></div>
		<div class="projectType"><img src="svg/battery" class="icon"></div>
		<div class="projectType"><img src="svg/bike" class="icon"></div>
		<div class="projectType"><img src="svg/biker" class="icon"></div>
		<div class="projectType"><img src="svg/boat" class="icon"></div>
		<div class="projectType"><img src="svg/book" class="icon"></div>
		<div class="projectType"><img src="svg/bus" class="icon"></div>
		<div class="projectType"><img src="svg/car" class="icon"></div>
		<div class="projectType"><img src="svg/city" class="icon"></div>
		<div class="projectType"><img src="svg/city-hall" class="icon"></div>
		<div class="projectType"><img src="svg/communication" class="icon"></div>
		<div class="projectType"><img src="svg/drop" class="icon"></div>
		<div class="projectType"><img src="svg/earth" class="icon"></div>
		<div class="projectType"><img src="svg/education" class="icon"></div>
		<div class="projectType"><img src="svg/elder" class="icon"></div>
		<div class="projectType"><img src="svg/event" class="icon"></div>
		<div class="projectType"><img src="svg/exchange" class="icon"></div>
		<div class="projectType"><img src="svg/facebook" class="icon"></div>
		<div class="projectType"><img src="svg/factory" class="icon"></div>
		<div class="projectType"><img src="svg/food" class="icon"></div>
		<div class="projectType"><img src="svg/garden" class="icon"></div>
		<div class="projectType"><img src="svg/gender" class="icon"></div>
		<div class="projectType"><img src="svg/grapho" class="icon"></div>
		<div class="projectType"><img src="svg/group2" class="icon"></div>
		<div class="projectType"><img src="svg/money" class="icon"></div>
		<div class="projectType"><img src="svg/network" class="icon"></div>
		<div class="projectType"><img src="svg/newspaper20" class="icon"></div>
		<div class="projectType"><img src="svg/ngo" class="icon"></div>
		<div class="projectType"><img src="svg/rain" class="icon"></div>
		<div class="projectType"><img src="svg/science49" class="icon"></div>
		<div class="projectType"><img src="svg/search" class="icon"></div>
		<div class="projectType"><img src="svg/society" class="icon"></div>
		<div class="projectType"><img src="svg/thinker" class="icon"></div>
		<div class="projectType"><img src="svg/truck" class="icon"></div>
		<div class="projectType"><img src="svg/train" class="icon"></div>
		<div class="projectType"><img src="svg/videogame" class="icon"></div>
		<div class="projectType"><img src="svg/violent" class="icon"></div>
		<div class="projectType"><img src="svg/web" class="icon"></div>
		<div class="projectType"><img src="svg/wind" class="icon"></div>
	</div>
</div>