<script type="text/javascript" src="js/userProfile"></script>
<div id="userProfile">
	<div class="fluid-container">
		<div class="row" id="resumeRow">
			<div id="topBar">
				<div class="row">
					<div id="picture" class="col-md-3 col-sm-6">
						<div class="vcenter">
							<div class="fakePicture">FOTO</div>
						</div>
					</div>
					<div id="personalData" class="col-md-3 col-sm-6 right-border">
						<div class="vcenter ">
							<div><strong>Sebastian Romero</strong></div>
							<div>tian@gmail.com</div>
							<div>55556373</div>
						</div>
					</div>
					<div id="interests" class="col-md-3 col-sm-6 right-border">
						<div class="vcenter">
							#Hola #Prueba #Hola #Prueba #Hola #Prueba#Hola #Prueba #Hola #Prueba #Hola #Prueba #Hola #Prueba #Hola #Prueba #Hola #Prueba #Hola #Prueba
						</div>
					</div>
					<div id="collaborations" class="col-md-3 col-sm-6">
						<div class="vcenter">20 collaborations</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sectionButtonsRow" class="row">
			<div>
				<div id="homeBtn" class="sectionBtn selected" title="Principal"><i class="fa fa-globe"></i></div>
				<div id="projectsBtn" class="sectionBtn" title="Proyectos"><i class="fa fa-suitcase"></i></div>
				<div id="offersAndNeedsBtn" class="sectionBtn" title="Ofrecimientos y Necesidades"><i class="fa fa-refresh"></i></div>
				<div id="interestsBtn" class="sectionBtn" title="Intereses y Habilidades"><i class="fa fa-heart"></i></div>
				<div id="configurationBtn" class="sectionBtn" title="Configuración"><i class="fa fa-cogs"></i></div>
			</div>
		</div>
		<div id="secHome" class="row userProfileSec">
			<div id="nextCollaborationsSec">
				<h3>Próximas colaboraciones</h3>
				<div id="nextCollaborationList" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sugestedCollaborations">
				<h3>Recomendaciones</h3>
				<div id="sugestedCollaborationList" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="pastCollaborations">
				<h3>Últimas colaboraciones</h3>
				<div id="nextCollaborations" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 collaboration">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="secProjects" class="row userProfileSec hidden">
			<div id="myProjects">
				<h3>Mis proyectos</h3>
				<div id="myProjectList" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 myProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<div class="myProjectNotifications"><span>Notificaciones</span><span class="label label-primary">5</span></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 myProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<div class="myProjectNotifications"><span>Notificaciones</span><span class="label label-primary">5</span></div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 myProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<div class="myProjectNotifications"><span>Notificaciones</span><span class="label label-primary">5</span></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="suggestedProjects">
				<h3>Proyectos recomendados</h3>
				<div id="suggestedProjectsList" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 suggestedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 suggestedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 suggestedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 suggestedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="likedProjects">
				<h3>Proyectos que me gustan</h3>
				<div id="likedProjectsList" class="row">
					<div class="col-md-3 col-sm-4 col-xs-6 likedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 likedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 col-xs-6 likedProject">
						<div class="thumbnail">
							<!--img src=""-->
							<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
							<div class="caption">
								<h4>Prueba</h4>
								<p>Descripción de prueba</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="secOffersAndNeeds" class="row userProfileSec hidden">
			<div id="offers" class="col-md-4 col-md-offset-1 col-sm-10 col-sm-offset-1">
				<h3>Ofrecimientos</h3>
				<div id="offerList" class="row">
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Materiales</strong>
							<span class="label label-default">4</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
						</div>
					</div>
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Espacios</strong>
							<span class="label label-default">2</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
						</div>
					</div>
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Materiales</strong>
							<span class="label label-default">3</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
							<div class="offer">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="offerTitle"><strong>Prueba</strong></div>
								<div class="offerDescription">Descripción de prueba</div>
								<i class="fa fa-pencil-square-o"></i>
								<i class="fa fa-trash"></i>
							</div>
						</div>
					</div>
				</div>
				<div>
					<button class"btn btn-default" id="newOfferBtn"><i class="fa fa-plus"></i></button>
				</div>
			</div>
			<div id="needs" class="col-md-4 col-md-offset-2 col-sm-10 col-sm-offset-1">
				<h3>Necesidades</h3>
				<div id="need" class="row">
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Materiales</strong>
							<span class="label label-default">4</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
						</div>
					</div>
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Espacios</strong>
							<span class="label label-default">2</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
						</div>
					</div>
					<div class="collaborationCategory">
						<div class="collaborationCategoryTitle">
							<i class="fa fa-caret-right"></i>
							<strong>Materiales</strong>
							<span class="label label-default">3</span>
						</div>
						<div class="collaborationCategorySec hidden" id="jobColCatSec">
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
							<div class="need">
								<!--img src=""-->
								<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
								<div class="needTitle"><strong>Prueba</strong></div>
								<div class="needDescription">Descripción de prueba</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<button class"btn btn-default" id="newNeedBtn"><i class="fa fa-plus"></i></button>
				</div>
			</div>
		</div>
		<div id="secInterests" class="row userProfileSec hidden">
			<div id="categories">
				<h3>Categorías</h3>
				<div class="row" id="categoriesSec">
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected"><i class="fa fa-globe fa-3x"></i>Derechos Humanos</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-shopping-basket fa-3x"></i>Productos y Servicios</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-pagelines fa-3x"></i>Medio Ambiente</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-paint-brush fa-3x"></i>Arte y Cultura</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected"><i class="fa fa-transgender fa-3x"></i>Género</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-medkit fa-3x"></i>Salud</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-book fa-3x"></i>Educación</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-puzzle-piece fa-3x"></i>Talleres y Clases</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-users fa-3x"></i>Comunidad</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter selected"><i class="fa fa-cutlery fa-3x"></i>Comida</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-home fa-3x"></i>Vivienda</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-scissors fa-3x"></i>Vestido</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-bullhorn fa-3x"></i>Comunicación</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-cogs fa-3x"></i>Tecnología</div>
					<div class="col-md-2 col-sm-4 col-xs-6 category vcenter"><i class="fa fa-bicycle fa-3x"></i>Transporte</div>
				</div>
			</div>
			<div class="col-md-6" id="interests">
				<h3>Intereses</h3>
				<div id="hashTags">
					<input placeholder="ingresa un interés" id="newInterestInput" />
					<button id="addInterestBtn">Agrega</button>
					<div id="interestList">
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
						<span class="label label-default">Ejemplo</span>
					</div>
				</div>
			</div>
			<div class="col-md-6" id="skills">
				<h3>Habilidades</h3>
				<input placeholder="ingresa una habilidad" type="text" id="newSkillInput" />
				<span>Nivel:</span>
				<select id="skillLevelSelect">
					<option value="1">Básico</option>
					<option value="2">Intermedio</option>
					<option value="3">Avanzado</option>
				</select>
				<button id="addSkillBtn">Agrega</button>
				<div>
					<ul class="list-group" id="skillList">
					  <li class="list-group-item skill">
					    <span class="badge">A</span>
					    Ejemplo
					  </li>
					  <li class="list-group-item skill">
					    <span class="badge">A</span>
					    Ejemplo
					  </li>
					  <li class="list-group-item skill">
					    <span class="badge">I</span>
					    Ejemplo
					  </li>
					  <li class="list-group-item skill">
					    <span class="badge">B</span>
					    Ejemplo
					  </li>
					</ul>
				</div>
			</div>	
		</div>
		<div id="secConfiguration" class="row userProfileSec hidden">
			<div>
        <input type="file" name="file" id="pictureFileInput">
        <button class="btn btn-default" onclick="uploadPicture()">Subir imagen</button>
			</div>
			<div>
			<form id="personalDataForm">
				<div class="form-group row">
				  <label for="nameInput" class="col-xs-2 hidden-xs">Nombre</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="nameInput" name="name" placeholder="Nombre">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="usernameInput" class="col-xs-2 hidden-xs">Username:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="usernameInput" name="username" placeholder="Username">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="emailInput" class="col-xs-2 hidden-xs">Correo Electrónico:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="emailInput" name="email" placeholder="Correo Electrónico">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="twitterInput" class="col-xs-2 hidden-xs">Twitter:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="twitterInput" name="twitter" placeholder="Twitter">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="facebookInput" class="col-xs-2 hidden-xs">Facebook:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="facebookInput" name="facebook" placeholder="Facebook">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="phoneInput" class="col-xs-2 hidden-xs">Telefono:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="phoneInput" name="name" placeholder="Teléfono">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="cellphoneInput" class="col-xs-2 hidden-xs">Celular:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="cellphoneInput" name="cellphone" placeholder="Celular">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div class="form-group row">
				  <label for="addressInput" class="col-xs-2 hidden-xs">Dirección:</label>
				  <div class="col-xs-offset-1 col-xs-10 col-sm-9 input-group">
				  	<input type="text" class="form-control" id="addressInput" name="address" placeholder="Dirección">
				  	<span class="input-group-addon" style="padding: 0px 10px">
			      	<input type="checkbox" class="col-md-2" data-toggle="toggle" data-on="Public" data-off="Private" data-width="80" data-size="mini">
			      </span>
				  </div>			  
				</div>
				<div id="map"></div> 
			</form>
			</div>
		</div>
	</div><!-- /fluid container-->	
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="projectModal" id="projectModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <div class="fakePhoto" id="projectModalPhoto"><div class="vcenter">FOTO</div></div><h4 class="modal-title" id="projectModalLabel">Prueba</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
	        	<div id="projectDescription">
	        		tiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet
							rutrum faucibus dolor auctor. 
						</div>
	        </div>
	        <div class="row" id="projectModelData">
	          <div class="col-md-6">
	          	<div>
			        	<strong>Categorías:</strong>
			        	<i class="fa fa-book"></i>
			        	<i class="fa fa-users"></i>
			        	<i class="fa fa-cogs"></i>
			        </div>
			        <div>
		           	<strong>Tipo:</strong>
		          	<span>Colectivo</span>
		          </div>
	          </div>
		       	<div class="col-md-6">
			        	<div><i class="fa fa-phone"></i> 5234423243</div>
			        	<div><i class="fa fa-envelope"></i>ejemplo@email.com</div>
		        </div>
		      </div>
		      <div class="row">
		      <div class="col-md-4 col-md-offset-4"><a href="/map" class="btn btn-primary"> Muestra en el mapa <i class="fa fa-map-marker"></i></a></div>	
		      </div>
	        <div class="row">
	          <div class="col-md-4 col-md-offset-1">
	          	<div><strong>Ofrecimientos</strong></div>
	          	<div>Materiales<span class="label label-default">2</span></div>
	          	<div>Chambitas<span class="label label-default">1</span></div>
	          	<div>Productos<span class="label label-default">10</span></div>
	          </div>
	          <div class="col-md-4 col-md-offset-2">
	          	<div><strong>Necesidades</strong></div>
	          	<div>Materiales<span class="label label-default">2</span></div>
	          	<div>Chambitas<span class="label label-default">1</span></div>
	          	<div>Productos<span class="label label-default">10</span></div>
	          </div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-primary" id="goToProjectProfile">Ver perfil</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="collaborationModal" id="collaborationModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="projectModalLabel">Prueba</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
	        	<div id="collaborationDescription">
	        		tiam porta sem malesuada magna mollis euismod. Nulla vitae elit libero, a pharetra augue.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet
							rutrum faucibus dolor auctor. 
						</div>
	        </div>
	        <div class="row">
	        	<div id="colProject">
	        		<h3>Proyecto Ejemplo</h3>
						</div>
	        </div>
	        <div class="row" id="projectModelData">
	          <div class="col-md-6">
	          	<div>
			        	<strong>Categorías:</strong>
			        	<i class="fa fa-book"></i>
			        	<i class="fa fa-users"></i>
			        	<i class="fa fa-cogs"></i>
			        </div>
			        <div>
		           	<strong>Tipo:</strong>
		          	<span>Colectivo</span>
		          </div>
	          </div>
		       	<div class="col-md-6">
			        	<div><i class="fa fa-phone"></i> 5234423243</div>
			        	<div><i class="fa fa-envelope"></i>ejemplo@email.com</div>
		        </div>
		      </div>
		      <div class="row">
		      <div class="col-md-4 col-md-offset-4"><a href="/project/pilot" class="btn btn-primary"> Ver Proyecto <i class="fa fa-map-marker"></i></a></div>	
		      </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-primary" id="goToProjectProfile">Ver perfil</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addOfferNeed" id="addOfferNeed">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Agrega una nueva</h4>
	      </div>
	      <div class="modal-body">
	        <div class="row">
	        	<div id="collaborationDescription">
	        		<label for="offerNeedTypeSelect">Tipo:</label>
	        		<select id="offerNeedTypeSelect">
	        			<option value="1">Material</option>
	        			<option value="1">Espacio</option>
	        			<option value="1">Producto o Servicio</option>
	        			<option value="1">Chambita</option>
	        			<option value="1">Fondeo</option>
	        			<option value="1">Comparte tu arte</option>
	        			<option value="1">Volutnariado</option>
	        			<option value="1">Conocimientos y Habilidades</option>
	        			<option value="1">Eventos</option>
	        			<option value="1">Difusión</option>
	        			<option value="1">Recomienda y Vincula</option>
	        		</select>
						</div>
	        </div>
	        <div class="row">
	        	<div>
	        		<textarea id="offerNeedDescriptionTextArea"></textarea>
	        	</div>
	        </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
	        <button type="button" class="btn btn-primary" id="goToProjectProfile">Ver perfil</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<script id="myProject-template" type="text/x-handlebars-template">
		<div class="col-md-3 col-sm-4 col-xs-6 myProject">
			<div class="thumbnail">
				<!--img src=""-->
				<div class="fakePhoto"><div class="vcenter">FOTO</div></div>
				<div class="caption">
					<h4>{{name}}</h4>
					<div class="myProjectNotifications"><span>Notificaciones</span><span class="label label-primary">{{notificationNumber}}</span></div>
				</div>
			</div>
		</div>
	</script>
</div>
