<script src="/js/userRegister"></script>
  <h1>Registro</h1>
<form class="form-horizontal" id="registerForm">
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Nombre</label>
    <div class="col-sm-9">
      <input class="form-control" id="inputName" placeholder="Nombre" name="name"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validName">
    </div>
  </div>
	<div class="form-group">
    <label for="inputLastName" class="col-sm-2 control-label">Apellido:</label>
    <div class="col-sm-9">
      <input class="form-control" id="inputLastName" placeholder="Apellido" name="lastname"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validLastName">
    </div>
  </div>
	<div class="form-group">
    <label for="inputUserName" class="col-sm-2 control-label">Usuario:</label>
    <div class="col-sm-9">
      <input class="form-control" id="inputUserName" placeholder="Nombre de Usuario (requerido)" name="username"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validUserName">
    </div>
  </div>
	<div class="form-group">
    <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
    <div class="col-sm-9">
      <input class="form-control" id="inputEmail" placeholder="Correo Electrónico (requerido)" name="email"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validEmail">
    </div>
  </div>
	<div class="form-group">
    <label for="inputPassword" class="col-sm-2 control-label">Contraseña:</label>
    <div class="col-sm-9">
      <input class="form-control" type="password" id="inputPassword" placeholder="Contraseña (requerida)" name="password"/>
      <span class="glyphicon form-control-feedback"></span>
    </div>
  </div>
	<div class="form-group">
    <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirma Contraseña:</label>
    <div class="col-sm-9">
      <input class="form-control" type="password" id="inputConfirmPassword" placeholder="Confirma contraseña (requerida)" name="confirmPassword"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validPasswords">
    </div>
  </div>
	<div class="form-group">
    <label for="inputCode" class="col-sm-2 control-label">Código de registro:</label>
    <div class="col-sm-9">
      <input class="form-control" id="inputCode" placeholder="Código de registro (requerido)" name="code" value="{{code}}"/>
      <span class="glyphicon form-control-feedback"></span>
      <div class="help-block hidden"></div>
      <input type="hidden" id="validCode">
    </div>
  </div>
	<div class="tx-al-c">
    <a href="#" class="btn btn-success btn-lg disabled" id="userRegisterBtn" onclick="return submitRegister()">Regístrate</a>
  </div>
</form>
