<script type="text/javascript" src="js/welcome"></script>
<div id="welcomeMessage">
  <h1>Bienvenidxs compas</h1>
  <p>Nos da mucho gusto invitarlxs a formar parte de la etapa piloto de esta plataforma de colaboración.</p>

  <p>Por ahora sólo invitaremos a amigxs cercanxs con proyectos que ya están trabajando con los principios que queremos fomentar, que ya están colaborando con otros proyectos y que comparten una ideología de sustentabilidad, cultura en red e imaginación.</p>

  <p>Prueben la plataforma con toda la curiosidad y ojo crítico que lxs caracteriza. Díganos qué piensan, qué les gusta, qué no les gusta, y cualquier comentario es bien recibido (no nos tomamos personales los comentarios negativos, es más, éstos nos ayudan mucho a saber qué cambiarle a la página). </p>

  <p>Todavía no tenemos servidores grandes, la paǵina tiene algunos detalles, y por lo tanto les pedimos que no difundan la página o inviten a gente a registrarse todavía. No tenemos ni la capacidad ni la preparación para ésto. Sólo es una etapa piloto entre compas.</p>

  <p>Críticas y sugerencias (tanto de las funcionalidades, como del diseño o de la redacción, que le falta, que le sobra) les agradecemos que </p>
  <div>las manden al correo <i class="fa fa-envelope"></i> comunidad.vientos@gmail.com</div>
  <div>o las escriban en el  <a href="https://www.facebook.com/groups/194265474325166/">grupo de <i class="fa fa-facebook-square"></i></a></div>
  <p>&nbsp;</p>
  <p>Esta plataforma es de todxs y nos encantaría que todxs participaran en su construcción.</p>

  <p> Muchas muchas gracias por acompañarnos en esta etapa y por sus comentarios.</p>
  
  <h2>Equipo Vientos </h2>
  <img src="/img/fondoHome.jpg" id="homeImage">

</div>
<div id="loginWelcome">
	<form id="loginForm" class="vcenter">
    <h3>¡Ingresa!</h3>
		<div class="form-group row">
      <label for="nameInput" class="col-xs-4 hidden-xs">Nombre de usuario:</label>
      <div class="col-xs-offset-1 col-xs-7 col-sm-8 input-group">
        <input type="text" class="form-control" id="usernameInput" name="username" placeholder="Nombre de usuario" />
      </div>
    </div>
    <div class="form-group row">
      <label for="nameInput" class="col-xs-4 hidden-xs">Contraseña:</label>
      <div class="col-xs-offset-1 col-xs-7 col-sm-8 input-group">
        <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Contraseña" />
      </div>
    </div>
		<div>
			<a id="loginBtn" href="#" class="btn btn-success" onclick="return login()">Login</a>
		</div>
	</form>
</div>